{% extends "base.html" %}{% load static %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'invoices:index' %}">Strona główna</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'companies:list_my_companies' %}">Moje firmy</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'companies:detail_company' company.pk %}">{{ company.name }}</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'companies:settings_company' company.pk %}">Ustawienia</a></li>
                    <ol class="breadcrumb-item active" aria-current="page">Odbiorcy faktury</ol>
                </ol>
            </nav>
        </div>
        <div class="row mt-2">
            {% if summary_recipients %}
                <table class="table table-hover text-center mt-4">
                    <thead class="table-light">
                        <tr>
                            <th>Lp.</th>
                            <th>Opis</th>
                            <th>Dzień wysłania</th>
                            <th>Email</th>
                            <th>Rodzaj rozliczenia</th>
                            <th>Opcje</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for summary_recipient in summary_recipients %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ summary_recipient.description }}</td>
                                <td>{{ summary_recipient.day }}</td>
                                <td>{{ summary_recipient.email }}</td>
                                <td>{{ summary_recipient.get_settlement_types_display}}</td>
                                <td>
                                    <a href="{% url 'companies:replace_summary_recipient' summary_recipient.pk %}">Edytuj</a>
                                    <a href="{% url 'companies:delete_summary_recipient' summary_recipient.pk %}">Usuń</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
        <div class="row">
            <div class="col">
                <a class="btn btn-primary mt-3" href="{% url 'companies:create_summary_recipient' company.pk %}">Dodaj odbiorcę podsumowania</a></h3>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <a class="btn btn-primary mt-3" href="{% url 'companies:list_my_companies' %}">Powrót</a>
            </div>
        </div>
    </div>
{% endblock content %}