{% extends "base.html" %}{% load static %}

{% block extra_js %}
    <script>
        const createOptionElement = (value, label, color = false) => {
            const optionElement = document.createElement("option");
            optionElement.setAttribute("value", value);
            if (color) {
                optionElement.style.color = "red";
            }
            
            const createTextElement = document.createTextNode(label);
            optionElement.appendChild(createTextElement);
            
            return optionElement;
        }
    
        document.addEventListener("DOMContentLoaded", () => {
            const selectElement = document.getElementById("id_country");
            
            const optionElement = createOptionElement("new_country", "Dodaj nowy kraj", true);
            selectElement.appendChild(optionElement);
    
            const cancelElement = document.getElementById("cancelCountryButton");
            const saveElement = document.getElementById("saveCountryButton");
            const newCountryInput = document.createElement("input");
            newCountryInput.classList.add("form-control");
    
            selectElement.addEventListener("change", () => {
                if (selectElement.value === "new_country") {
                    cancelElement.classList.remove("d-none");
                    saveElement.classList.remove("d-none");
                    selectElement.classList.add("d-none");
                    selectElement.parentElement.appendChild(newCountryInput);
                    newCountryInput.classList.remove("d-none");
                }
            });
            
            const hideEditMode = () => {
                cancelElement.classList.add("d-none");
                saveElement.classList.add("d-none");
                newCountryInput.classList.add("d-none")
                selectElement.classList.remove("d-none");
            };
    
            cancelElement.addEventListener("click", (e) => {
                e.preventDefault();
                hideEditMode();
                selectElement.value = "";
                newCountryInput.value = "";
            });
    
            saveElement.addEventListener("click", async (e) => {
                e.preventDefault();
                hideEditMode();
    
                const url = saveElement.getAttribute("href");
                const csrfElement = document.getElementsByName("csrfmiddlewaretoken")[0];
    
                const data = new FormData();
                data.set("country", newCountryInput.value)
                data.set("csrfmiddlewaretoken", csrfElement.value)
    
                const response = await fetch(url, {
                    method: "POST",
                    body: data
                });
                const json = await response.json();
                
                const newCountryOption = createOptionElement(json.id, json.name);
                selectElement.appendChild(newCountryOption);
                
    
                selectElement.value = json.id.toString();
                newCountryInput.value = "";
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'invoices:index' %}">Strona główna</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'persons:list_persons' %}">Osoby fizyczne</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Dodaj</li>
                </ol>
            </nav>
        </div>
        <div class="row mt-2">
            <form action="{% url 'persons:create_person' %}" method='post'>
                {% csrf_token %}
                {{ form.next }}
                <div class="row mb-2">
                    <div class="col-2 offset-3 text-end">{{ form.first_name.label_tag }}</div>
                    <div class="col-2">{{ form.first_name }}</div>
                </div>
                {% if form.first_name.errors %}
                    <div class="row">
                        <div class="col-auto offset-5 text-danger">{{ form.first_name.errors }}</div>
                    </div>
                {% endif %}
                <div class="row mb-2">
                    <div class="col-2 offset-3 text-end">{{ form.last_name.label_tag }}</div>
                    <div class="col-3">{{ form.last_name }}</div>
                </div>
                {% if form.last_name.errors %}
                    <div class="row">
                        <div class="col-auto offset-5 text-danger">{{ form.last_name.errors }}</div>
                    </div>
                {% endif %}
                <div class="row mb-2">
                    <div class="col-2 offset-3 text-end">{{ form.address.label_tag }}</div>
                    <div class="col-3">{{ form.address }}</div>
                </div>
                {% if form.address.errors %}
                    <div class="row">
                        <div class="col-auto offset-5 text-danger">{{ form.address.errors }}</div>
                    </div>
                {% endif %}
                <div class="row mb-2">
                    <div class="col-2 offset-3 text-end">{{ form.zip_code.label_tag }}</div>
                    <div class="col-1">{{ form.zip_code }}</div>
                </div>
                {% if form.zip_code.errors %}
                    <div class="row">
                        <div class="col-auto offset-5 text-danger">{{ form.zip_code.errors }}</div>
                    </div>
                {% endif %}
                <div class="row mb-2">
                    <div class="col-2 offset-3 text-end">{{ form.city.label_tag }}</div>
                    <div class="col-3">{{ form.city }}</div>
                </div>
                {% if form.city.errors %}
                    <div class="row">
                        <div class="col-auto offset-5 text-danger">{{ form.city.errors }}</div>
                    </div>
                {% endif %}
                <div class="row mb-2">
                    <div class="col-2 offset-3 text-end">{{ form.country.label_tag }}</div>
                    <div class="col-2">
                        {{ form.country }}
                    </div>
                    <div class="col">
                        <a id="cancelCountryButton" class="btn btn-secondary d-none">Anuluj</a>
                        <a id="saveCountryButton" class="btn btn-primary d-none" href="{% url 'countries:create_country_ajax' %}">Zapisz</a>
                    </div>
                </div>
                {% if form.country.errors %}
                    <div class="row">
                        <div class="col-auto offset-5 text-danger">{{ form.country.errors }}</div>
                    </div>
                {% endif %}
                <div class="row mb-2">
                    <div class="col-2 offset-3 text-end">{{ form.email.label_tag }}</div>
                    <div class="col-3">{{ form.email }}</div>
                </div>
                {% if form.email.errors %}
                    <div class="row">
                        <div class="col-auto offset-5 text-danger">{{ form.email.errors }}</div>
                    </div>
                {% endif %}
                <div class="row mb-2">
                    <div class="col-2 offset-3 text-end">{{ form.phone_number.label_tag }}</div>
                    <div class="col-2">{{ form.phone_number }}</div>
                </div>
                {% if form.phone_number.errors %}
                    <div class="row">
                        <div class="col-auto offset-5 text-danger">
                            {{ form.phone_number.errors }}
                        </div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col text-center">
                        <a class="btn btn-secondary mt-3" href="{% url 'persons:list_persons' %}">Powrót</a>
                        <button class="btn btn-primary mt-3" name="submit">Dodaj</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal fade" id="countryModal" tabindex="-1">
      <div class="modal-dialog modal-sm">
        <div class="modal-content" id="countryModalContent">
        </div>
      </div>
    </div>
{% endblock content %}