{% load static %}
<div class="modal-header">
    <h5 class="modal-title">Dodaj konsumenta</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
    
<form action="{% url 'persons:create_person_ajax' %}" method='post'>
    <div class="modal-body">
        {% csrf_token %}
        {{ form.next }}
        <div class="row mb-2">
            <div class="col-12 col-md-6 d-flex justify-content-md-end align-items-center" style="font-weight: bold;">{{ form.first_name.label_tag }}</div>
            <div class="col-12 col-md-3 d-flex align-items-center">{{ form.first_name }}</div>
        </div>
        {% if form.first_name.errors %}
            <div class="row">
                <div class="col-12 offset-md-6 text-danger">{{ form.first_name.errors }}</div>
            </div>
        {% endif %}
        <div class="row mb-2">
            <div class="col-12 col-md-6 d-flex justify-content-md-end align-items-center" style="font-weight: bold;">{{ form.last_name.label_tag }}</div>
            <div class="col-12 col-md-3 d-flex align-items-center">{{ form.last_name }}</div>
        </div>
        {% if form.last_name.errors %}
            <div class="row">
                <div class="col-12 offset-md-6 text-danger">{{ form.last_name.errors }}</div>
            </div>
        {% endif %}
        <div class="row mb-2">
            <div class="col-12 col-md-6 d-flex justify-content-md-end align-items-center" style="font-weight: bold;">{{ form.nip.label_tag }}</div>
            <div class="col-12 col-md-2 d-flex align-items-center">{{ form.nip }}</div>
        </div>
        {% if form.nip.errors %}
            <div class="row">
                <div class="col-12 offset-md-6 text-danger">{{ form.nip.errors }}</div>
            </div>
        {% endif %}
        <div class="row mb-2">
            <div class="col-12 col-md-6 d-flex justify-content-md-end align-items-center" style="font-weight: bold;">{{ form.pesel.label_tag }}</div>
            <div class="col-12 col-md-2 d-flex align-items-center">{{ form.pesel }}</div>
        </div>
        {% if form.pesel.errors %}
            <div class="row">
                <div class="col-12 offset-md-6 text-danger">{{ form.pesel.errors }}</div>
            </div>
        {% endif %}
        <div class="row mb-2">
            <div class="col-12 col-md-6 d-flex justify-content-md-end align-items-center" style="font-weight: bold;">{{ form.address.label_tag }}</div>
            <div class="col-12 col-md-3 d-flex align-items-center">{{ form.address }}</div>
        </div>
        {% if form.address.errors %}
            <div class="row">
                <div class="col-12 offset-md-6 text-danger">{{ form.address.errors }}</div>
            </div>
        {% endif %}
        <div class="row mb-2">
            <div class="col-12 col-md-6 d-flex justify-content-md-end align-items-center" style="font-weight: bold;">{{ form.zip_code.label_tag }}</div>
            <div class="col-12 col-md-2 d-flex align-items-center">{{ form.zip_code }}</div>
        </div>
        {% if form.zip_code.errors %}
            <div class="row">
                <div class="col-12 offset-md-6 text-danger">{{ form.zip_code.errors }}</div>
            </div>
        {% endif %}
        <div class="row mb-2">
            <div class="col-12 col-md-6 d-flex justify-content-md-end align-items-center" style="font-weight: bold;">{{ form.city.label_tag }}</div>
            <div class="col-12 col-md-3 d-flex align-items-center">{{ form.city }}</div>
        </div>
        {% if form.city.errors %}
            <div class="row">
                <div class="col-12 offset-md-6 text-danger">{{ form.city.errors }}</div>
            </div>
        {% endif %}
        <div class="row mb-2">
            <div class="col-12 col-md-6 d-flex justify-content-md-end align-items-center" style="font-weight: bold;">
                {{ form.country.label_tag }}
            </div>
            <div class="col-12 col-md-2 d-flex align-items-center">
                {{ form.country }}
            </div>
            <div class="col-12 col-md-auto d-flex flex-column flex-md-row mt-2 gap-2">
                <a id="saveCountryButton" class="btn btn-primary w-100 w-md-auto me-2 d-none" href="{% url 'countries:create_country_ajax' %}">Zapisz</a>
                <a id="cancelCountryButton" class="btn btn-secondary w-100 w-md-auto d-none">Anuluj</a>
            </div>
        </div>
        {% if form.country.errors %}
            <div class="row">
                <div class="col-12 offset-md-6 text-danger">{{ form.country.errors }}</div>
            </div>
        {% endif %}
        <div class="row mb-2">
            <div class="col-12 col-md-6 d-flex justify-content-md-end align-items-center" style="font-weight: bold;">{{ form.email.label_tag }}</div>
            <div class="col-12 col-md-3 d-flex align-items-center">{{ form.email }}</div>
        </div>
        {% if form.email.errors %}
            <div class="row">
                <div class="col-12 offset-md-6 text-danger">{{ form.email.errors }}</div>
            </div>
        {% endif %}
        <div class="row mb-2">
            <div class="col-12 col-md-6 d-flex justify-content-md-end align-items-center" style="font-weight: bold;">{{ form.phone_number.label_tag }}</div>
            <div class="col-12 col-md-3 d-flex align-items-center">{{ form.phone_number }}</div>
        </div>
        {% if form.phone_number.errors %}
            <div class="row">
                <div class="col-12 offset-md-6 text-danger">
                    {{ form.phone_number.errors }}
                </div>
            </div>
        {% endif %}
    </div>
    <div class="modal-footer justify-content-center">
        <div class="col-12 col-md-auto d-flex flex-column flex-md-row gap-2">
            <button id="createPersonSaveButton" type="button" class="btn btn-primary">Zapisz</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
        </div>
    </div>
</form>