[run]
source = .
branch = False
timid = False

[report]
show_missing = True
fail_under = 95
include = *.py
omit =
    apps.py
    urls.py
    urls_api.py
    asgi.py
    wsgi.py
    manage.py
    version.py
    base/runner.py
    base/settings/production.py
    base/settings/test.py
    base/settings/common.py
    base/settings/dev.py
    base/storages.py
    base/mixins.py
    */tests/*
    */migrations/*
    factories.py