[run]
source = .
branch = False
timid = False

[report]
show_missing = False
fail_under = 30
include = *.py
omit =
    settings.py
    apps.py
    urls.py
    urls_api.py
    asgi.py
    wsgi.py
    manage.py
    base/runner.py
    */tests/*
    */migrations/*