{% extends "base.html" %}{% load static %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'invoices:index' %}">Strona główna</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'countries:create_country' %}">Kraje</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Dodaj</li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <form action="{% url 'countries:create_country' %}" method='post'>
                {% csrf_token %}
                {{ form.as_p }}

                {% if request.GET.next %}
                    <a class="btn btn-primary mt-3" href="{{ request.GET.next }}">Powrót</a>
                {% else %}
                    <a class="btn btn-primary mt-3" href="{% url 'countries:list_countries' %}">Powrót</a>
                {% endif %}
                <button class="btn btn-primary mt-3" name="submit">Dodaj</button>
            </form>
        </div>
    </div>
{% endblock content %}
