{% extends "base.html" %}{% load static %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'countries.css' %}">

    <h1>Nowy kraj</h1>

    <form action="{% url 'countries:create_country' %}" method='post'>
        {% csrf_token %}
        {{ form.as_p }}

        {% if request.GET.next %}
            <a href="{{ request.GET.next }}">Powrót</a>
        {% else %}
            <a href="{% url 'countries:list_countries' %}">Powrót</a>
        {% endif %}

        <button name="submit">Dodaj</button>
    </form>

{% endblock content %}
