{% extends "base.html" %}{% load static %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'invoices:index' %}">Strona główna</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'countries:list_countries' %}">Kraje</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Dodaj</li>
                </ol>
            </nav>
        </div>
        <div class="row mt-2">
            <form action="{% url 'countries:create_country' %}" method='post'>
                {% csrf_token %}
                <div class="row mb-2">
                    <div class="col-2 offset-3 text-end">{{ form.country.label_tag }}</div>
                    <div class="col-3">{{ form.country }}</div>
                </div>
                {% if form.country.errors %}
                    <div class="row">
                        <div class="col-auto offset-5 text-danger">
                            {{ form.country.errors }}
                        </div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col text-center">
                        <a class="btn btn-secondary mt-3" href="{% url 'countries:list_countries' %}">Powrót</a>
                        <button class="btn btn-primary mt-3" name="submit">Zapisz</button>
                    
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
