{% load static %}
<div class="modal-header">
    <h5 class="modal-title">Dodaj kraj</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<form action="{% url 'countries:create_country' %}" method='post'>
    <div class="modal-body">
        {% csrf_token %}
        {{ form.next }}
        <div class="row mb-2">
            <div class="col text-end flex align-self-center">{{ form.country.label_tag }}</div>
            <div class="col-9">{{ form.country }}</div>
        </div>
        {% if form.country.errors %}
            <div class="row">
                <div class="col-auto offset-5 text-danger">
                    {{ form.country.errors }}
                </div>
            </div>
        {% endif %}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
        <button id="createCountrySaveButton" type="button" class="btn btn-primary">Zapisz</button>
    </div>
</form>
