{% extends "base.html" %}{% load static %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'countries.css' %}">

    <h1>Szczegóły kraju</h1>

    <ul style="list-style-type:none">
        <li><b>Kraj:</b> {{ country.country }}</li>
    </ul>

    <a href="{% url 'countries:list_countries' %}">Powrót</a>
    <a href="{% url 'countries:replace_country' country.pk %}">Edytuj</a>
    <a href="{% url 'countries:delete_country' country.pk %}">Usuń</a>

{% endblock content %}