{% extends "base.html" %}{% load static %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'countries.css' %}">

    <h3><a href="{% url 'countries:create_country' %}">Dodaj kraj</a></h3>

    <h1>Lista krajów</h1>

    {% if countries %}
        <table class="items">
            <tr>
                <th style="width:5%">Lp.</th>
                <th>Kraj</th>
                <th>Opcje</th>
            </tr>
            {% for country in countries %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ country }}</td>
                    <td>
                        <a href="{% url 'countries:detail_country' country.pk %}">Więcej</a>
                        <a href="{% url 'countries:replace_country' country.pk %}">Edytuj</a>
                        <a href="{% url 'countries:delete_country' country.pk%}">Usuń</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h3>Brak krajów</h3>
    {% endif %}

{% endblock content %}