{% extends "base.html" %}{% load static %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'users.css' %}">

    <div class="user-detail">
        <h1>Dane użytkownika</h1>

        <table class="items">
            <tr>
                <th style="width:40%">Login</th>
                <th style="width:45%">Email</th>
                <th style="width:15%">Opcje</th>
            </tr>
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a href="{% url 'users:replace_user' %}">Edytuj</a>
                    <a href="{% url 'users:password_change_user' %}">Zmień hasło</a>
                </td>
            </tr>
        </table>

    </div>

    <hr>

    <h3><a href="{% url 'companies:create_my_company' %}">Dodaj firmę</a></h3>


    {% if my_companies %}

        <h1>Lista swoich firm</h1>

        <table class="items">
            <tr>
                <th style="width:5%">Lp.</th>
                <th style="width:30%">Nazwa</th>
                <th style="width:10%">NIP</th>
                <th style="width:10%">Regon</th>
                <th style="width:20%">Email</th>
                <th style="width:10%">Numer telefonu</th>
                <th style="width:15%">Opcje</th>
            </tr>
            {% for my_company in my_companies %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ my_company.name }}</td>
                    <td>{{ my_company.nip }}</td>
                    <td>{{ my_company.regon }}</td>
                    <td>{{ my_company.email }}</td>
                    <td>{{ my_company.phone_number }}</td>
                    <td>
                        <a href="{% url 'companies:detail_company' my_company.pk %}">Więcej</a>
                        <a href="{% url 'companies:replace_company' my_company.pk %}">Edytuj</a>
                        <a href="{% url 'companies:delete_company' my_company.pk %}">Usuń</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h3>Brak firmy</h3>
    {% endif %}

{% endblock content %}
