{% extends "base.html" %}{% load static %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'users.css' %}">

    <p>Szczegóły użytkownika</p>

    <ul>
        <li>Login: {{ user.username }}</li>
        <li>Email: {{ user.email }}</li>
    </ul>

    <a href="{% url 'users:replace_user' user.pk %}">Edytuj</a>

    <p>
    <a href="{% url 'companies:create_my_company' %}">Dodaj swoją firmę</a>
    </p>

    <ul>
    {% for my_company in my_companies %}
        <li>
            <a href="{% url 'companies:detail_company' my_company.pk %}">{{ my_company }}</a>
        </li>
    {% endfor %}
    </ul>

    <a href="{% url 'invoices:index' %}">Powrót</a>

{% endblock content %}
