{% extends "base.html" %}{% load static %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'invoices:index' %}">Strona główna</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Logowanie</li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <span>Zostałeś poprawnie wylogowany.</span>
        </div>
    </div>
{% endblock content %}