{% extends "base.html" %}{% load static %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'users.css' %}">

    {% if form.errors %}
        <p>Nazwa użytkownika i hasło są nieprawidłowe. Proszę spróbować później</p>
    {% endif %}

    <form method="post" action="{% url 'users:login' %}">
        {% csrf_token %}
        {{ form.as_p }}

        <button name="submit">Zaloguj</button>
        <input type="hidden" name="next" value="{% url 'invoices:index' %}"/>
        <p>Nie pamiętasz hasła?<a href="{% url 'users:password_reset' %}"> Resetuj hasło</a></p>
    </form>

{% endblock content %}
