{% extends "base.html" %}{% load static %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'invoices:index' %}">Strona główna</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Logowanie</li>
                </ol>
            </nav>
        </div>
        <div class="row mt-2">
            <form method="post" action="{% url 'users:login' %}">
                {% csrf_token %}
                {{ form.next }}
                <div class="row mb-2">
                    <div class="col-2 offset-3 text-end my-auto">{{ form.username.label_tag }}</div>
                    <div class="col-3">{{ form.username }}</div>
                </div>
                {% if form.username.errors %}
                    <div class="row">
                        <div class="col-auto offset-5 text-danger">{{ form.username.errors }}</div>
                    </div>
                {% endif %}
                <div class="row mb-2">
                    <div class="col-2 offset-3 text-end my-auto">{{ form.password.label_tag }}</div>
                    <div class="col-3">{{ form.password }}</div>
                </div>
                {% if form.password.errors %}
                    <div class="row">
                        <div class="col-auto offset-5 text-danger">{{ form.password.errors }}</div>
                    </div>
                {% endif %}
                {% if form.errors %}
                    <div class="row">
                        <div class="col-auto offset-5 text-danger">
                            <span>Email użytkownika lub hasło są nieprawidłowe.</span>
                        </div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col text-center">
                        <a class="btn btn-secondary mt-3" href="{% url 'invoices:index' %}">Powrót</a>
                        <button class="btn btn-primary mt-3" name="submit">Zaloguj</button>
                    </div>
                </div>
                <input type="hidden" name="next" value="{% url 'invoices:list_invoices' %}"/>
            </form>
            <div class="row text-center">
                <span>Nie pamiętasz hasła?<a href="{% url 'users:password_reset' %}"> Resetuj hasło</a></span>
            </div>
        </div>
    </div>
{% endblock content %}
