{% extends "base.html" %}{% load static %}
{% block title %}Zmiana hasła{% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'invoices:index' %}">Strona główna</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'users:detail_user' %}">{{ user.username }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Zmiana hasła</li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <form action="." method="post">
                {{ form.as_p }}
                <a class="btn btn-primary mt-3" href="{% url 'users:detail_user' %}">Powrót</a>
                <input class="btn btn-primary mt-3" type="submit" value="Zmień">
                {% csrf_token %}
            </form>
        </div>
    </div>
{% endblock content %}