{% extends "base.html" %}
{% block title %}Wprowadź nowe hasło{% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'invoices:index' %}">Strona główna</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Ustawienie nowego hasła</li>
                </ol>
            </nav>
        </div>
        <div class="row mt-2">
            {% if validlink %}
                <form action="." method="post">
                    {% csrf_token %}
                    <div class="row mb-2">
                        <div class="col-2 offset-3 text-end my-auto">{{ form.new_password1.label_tag }}</div>
                        <div class="col-3">{{ form.new_password1 }}</div>
                    </div>
                    {% if form.new_password1.errors %}
                        <div class="row">
                            <div class="col-auto offset-5 text-danger">{{ form.new_password1.errors }}</div>
                        </div>
                    {% endif %}
                    <div class="row mb-2">
                        <div class="col-2 offset-3 text-end my-auto">{{ form.new_password2.label_tag }}</div>
                        <div class="col-3">{{ form.new_password2 }}</div>
                    </div>
                    {% if form.new_password2.errors %}
                        <div class="row">
                            <div class="col-auto offset-5 text-danger">{{ form.new_password2.errors }}</div>
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col text-center">
                            <input class="btn btn-primary mt-3" type="submit" value="Zmień hasło">
                        </div>
                    </div>
                </form>
            {% else %}
                <div class="row">
                    <div class="col text-center">
                        <span>Łącze do resetowania hasła było nieprawidłowe, prawdopodobnie dlatego, że zostało już użyte. Poproś o zresetowanie nowego hasła.</span>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}