{% extends "base.html" %}{% load static %}
{% block title %}E-mail wysłany{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'invoices:index' %}">Strona główna</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Reset hasła</li>
                </ol>
            </nav>
        </div>
        <div class="row text mt-3">
            <span>Sprawdź swoją skrzynkę odbiorczą.</span>
        </div>
        <div class="row mb-2">
            <span>Wysłaliśmy Ci e-mailem instrukcje dotyczące ustawiania hasła. Wkrótce otrzymasz wiadomość e-mail!</span>
        </div>
    </div>
{% endblock content %}