{% extends "base.html" %}
{% block title %}Resetowanie hasła{% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'invoices:index' %}">Strona główna</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Resetowanie hasła</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <p>Hasło zostało ustawione. Możesz się już <a href="{% url 'users:login' %}">zalogować</a></p>
    </div>
{% endblock %}