{% extends "base.html" %}

{% block title %}Wprowadź nowe hasło{% endblock %}

{% block content %}

    <h1>Ustaw nowe hasło</h1>
    {% if validlink %}

        <form action="." method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <p><input type="submit" value="Zmień moje hasło"></p>
        </form>
    {% else %}
        <p>Łącze do resetowania hasła było nieprawidłowe, prawdopodobnie dlatego, że zostało już użyte. Poproś o zresetowanie nowego hasła. </p>
    {% endif %}

{% endblock %}