{% extends "base.html" %}
{% block title %}Wprowadź nowe hasło{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'invoices:index' %}">Strona główna</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Ustawienie nowego hasła</li>
                </ol>
            </nav>
        </div>
        <div class="row text mt-3">
            {% if validlink %}
                <form action="." method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <p><input type="submit" value="Zmień moje hasło"></p>
                </form>
            {% else %}
                <span>Łącze do resetowania hasła było nieprawidłowe, prawdopodobnie dlatego, że zostało już użyte. Poproś o zresetowanie nowego hasła.</span>
            {% endif %}
        </div>
    </div>
{% endblock content %}