{% extends "base.html" %}{% load static %}
{% block title %}Reset hasła{% endblock %}

{% block content %}
    < class="container mt-3">
        <div class="row">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'invoices:index' %}">Strona główna</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Reset hasła</li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <span>Reset hasła</span>
        </div>
        <div class="row">
            <span>Podaj adres e-mail, aby zdefiniować nowe hasło</span>
        </div>
        <div class="row">
            <form action="." method="post">
                {{ form.as_p }}
                <span><input type="submit" value="Wyślij e-mail"></span>
                {% csrf_token %}
            </form>
        </div>
{% endblock content %}