{% extends "base.html" %}{% load static %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'invoices:index' %}">Strona główna</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Rejestracja</li>
                </ol>
            </nav>
        </div>
        <div class="row mt-2">
            <form method="post" action="{% url 'users:register_user' %}">
                {% csrf_token %}
                <div class="row mb-2">
                    <div class="col-2 offset-3 text-end">{{ form.email.label_tag }}</div>
                    <div class="col-3">{{ form.email }}</div>
                </div>
                {% if form.email.errors %}
                    <div class="row">
                        <div class="col-auto offset-5 text-danger">{{ form.email.errors }}</div>
                    </div>
                {% endif %}
                <div class="row mb-2">
                    <div class="col-2 offset-3 text-end">{{ form.password1.label_tag }}</div>
                    <div class="col-3">{{ form.password1 }}</div>
                </div>
                {% if form.password1.errors %}
                    <div class="row">
                        <div class="col-auto offset-5 text-danger">{{ form.password1.errors }}</div>
                    </div>
                {% endif %}
                <div class="row mb-2">
                    <div class="col-2 offset-3 text-end">{{ form.password2.label_tag }}</div>
                    <div class="col-3">{{ form.password2 }}</div>
                </div>
                {% if form.password2.errors %}
                    <div class="row">
                        <div class="col-auto offset-5 text-danger">{{ form.password2.errors }}</div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col text-center">
                        <button class="btn btn-primary mt-3" name="submit">Rejestruj</button>
                    </div>
                </div>
                <input type="hidden" name="next" value="{% url 'users:detail_user' %}"/>
            </form>
        </div>
    </div>
{% endblock content %}