{% extends "base.html" %}{% load static %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'companies.css' %}">

    <h1>Szczegóły firmy</h1>

    <ul style="list-style-type:none;">
        <li><b>Nazwa firmy:</b> {{ company.name }}</li>
        <li><b>Nip:</b> {{ company.nip }}</li>
        <li><b>Regon:</b> {{ company.regon }}</li>
        <li><b>Kraj:</b> {{ company.country }}</li>
        <li><b>Adres:</b> {{ company.address }}</li>
        <li><b>Kod pocztowy:</b> {{ company.zip_code }}</li>
        <li><b>Miasto:</b> {{ company.city }}</li>
        <li><b>Email:</b> {{ company.email }}</li>
        <li><b>Numer telefonu:</b> {{ company.phone_number }}</li>
    </ul>

    {% if company.is_my_company %}
        <a href="{% url 'users:detail_user' request.user.pk %}">Powrót</a>
    {% else %}
        <a href="{% url 'companies:list_companies' %}">Powrót</a>
    {% endif %}
    <a href="{% url 'companies:replace_company' company.pk %}">Edytuj</a>
    <a href="{% url 'companies:delete_company' company.pk %}">Usuń</a>

{% endblock content %}
