{% extends "base.html" %}{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'companies.css' %}">
{% endblock extra_css %}

{% block content %}

    <div class="top_actions">
        {% if company.is_my_company %}
        <a href="{% url 'companies:list_my_companies' %}">Powrót</a>
    {% else %}
        <a href="{% url 'companies:list_companies' %}">Powrót</a>
    {% endif %}
    </div>

    <h1>Szczegóły firmy: <span class="black">{{ company.name }}</span></h1>

    <table class="items" style="margin-top: 35px">
        <tr>
            <th style="width:10%">NIP</th>
            <th style="width:10%">Regon</th>
            <th style="width:10%">Kraj</th>
            <th style="width:20%">Adres</th>
            <th style="width:10%">Kod pocztowy</th>
            <th style="width:10%">Miasto</th>
            <th style="width:10%">Email</th>
            <th style="width:10%">Telefon</th>
            <th style="width:10%">Opcje</th>
        </tr>
        <tr>
            <td>{{ company.nip }}</td>
            <td>{{ company.regon }}</td>
            <td>{{ company.country}}</td>
            <td>{{ company.address }}</td>
            <td>{{ company.zip_code }}</td>
            <td>{{ company.city }}</td>
            <td>{{ company.email }}</td>
            <td>{{ company.phone_number }}</td>
            <td>
                <a href="{% url 'companies:replace_company' company.pk %}">Edytuj</a>
                <a href="{% url 'companies:delete_company' company.pk %}">Usuń</a>
            </td>
        </tr>
    </table>

{% endblock content %}
