{% extends "base.html" %}{% load static %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'companies.css' %}">

    <form action="{% url 'companies:list_companies' %}" method='get'>
        {{ filter_form.as_p }}
        <button>Szukaj</button>
        <a href="{% url 'companies:list_companies' %}">Wyczyść</a>
    </form>

    <h3><a href="{% url 'companies:create_company' %}">Dodaj firmę</a></h3>

    {% if companies %}

        <h1>Lista firm</h1>

        <table class="items">
            <tr>
                <th style="width:5%">Lp.</th>
                <th style="width:30%">Nazwa</th>
                <th style="width:10%">NIP</th>
                <th style="width:10%">Kraj</th>
                <th style="width:20%">Email</th>
                <th style="width:10%">Numer telefonu</th>
                <th style="width:15%">Opcje</th>
            </tr>
            {% for company in companies %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ company.name }}</td>
                    <td>{{ company.nip }}</td>
                    <td>{{ company.country }}</td>
                    <td>{{ company.email }}</td>
                    <td>{{ company.phone_number }}</td>
                    <td>
                        <a href="{% url 'companies:detail_company' company.pk %}">Więcej</a>
                        <a href="{% url 'companies:replace_company' company.pk %}">Edytuj</a>
                        <a href="{% url 'companies:delete_company' company.pk %}">Usuń</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h3>Brak firm</h3>
    {% endif %}

    <br>
    {% include "pagination.html" with page=companies %}
{% endblock content %}