{% extends "base.html" %}{% load static %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'invoices:index' %}">Strona główna</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Moje firmy</li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <form action="{% url 'companies:list_my_companies' %}" method='get'>
                <div class="d-flex justify-content-between mt-3">
                    {{ filter_form.as_div }}
                    <div class="d-grid gap-2 col-2 ">
                        <button class="btn btn-primary">Szukaj</button>
                        <a class="btn btn-outline-primary" href="{% url 'companies:list_my_companies' %}">Wyczyść</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col">
                <a class="btn btn-primary mt-3" href="{% url 'companies:create_company' %}">Dodaj firme</a></h3>
            </div>
        </div>
        <div class="row">
            {% if companies %}
                <table class="table table-hover text-center mt-3">
                    <thead class="table-light">
                        <tr>
                            <th>Lp.</th>
                            <th>Nazwa</th>
                            <th>NIP</th>
                            <th>Kraj</th>
                            <th>Email</th>
                            <th>Numer telefonu</th>
                            <th>Opcje</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for company in companies %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ company.name }}</td>
                                <td>{{ company.nip }}</td>
                                <td>{{ company.country }}</td>
                                <td>{{ company.email }}</td>
                                <td>{{ company.phone_number }}</td>
                                <td>
                                    <a href="{% url 'companies:detail_company' company.pk %}">Więcej</a>
                                    <a href="{% url 'companies:replace_company' company.pk %}">Edytuj</a>
                                    <a href="{% url 'companies:delete_company' company.pk %}">Usuń</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h3>Brak firm</h3>
            {% endif %}
        </div>
        <div class="row">
            {% include "pagination.html" with page=companies %}
        </div>
    </div>
{% endblock content %}