{% extends "base.html" %}{% load static %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'companies.css' %}">

    <div class="top_actions">
        <a href="{% url 'companies:detail_company' company.pk %}">Powrót</a>
    </div>

    <h1>Edytuj firmę</h1>

    <form action="{% url 'companies:replace_company' company.pk %}" method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <button name="submit">Zapisz</button>
    </form>

{% endblock content %}