{% extends "base.html" %}{% load static %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'companies.css' %}">

    <h1>Edytuj firmę</h1>

    <h3><a href="{% url 'countries:create_country' %}?next={% url 'companies:replace_company' company.pk %}">Dodaj kraj</a></h3>

    <form action="{% url 'companies:replace_company' company.pk %}" method='post'>
        {% csrf_token %}
        {{ form.as_p }}

        {% if company.is_my_company %}
            <a href="{% url 'users:detail_user' request.user.pk %}">Powrót</a>
        {% else %}
            <a href="{% url 'companies:list_companies' %}">Powrót</a>
        {% endif %}

        <button name="submit">Zapisz</button>
    </form>

{% endblock content %}