{% extends "base.html" %}{% load static %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'create_country.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container mt-2">
        <div class="row">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'index' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"></path>
                            </svg>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        {% if company.is_my_company %}
                            <a href="{% url 'companies:list_my_companies' %}">Moja firma</a>
                        {% else %}
                            <a href="{% url 'companies:list_companies' %}">Kontrahent</a>
                        {% endif %}
                    </li>
                    <li class="breadcrumb-item activ"><a href="{% url 'companies:detail_company' company.pk %}">{{ company.name }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Edytuj</li>
                </ol>
            </nav>
        </div>
        <div class="row mt-2">
            <form action="{% url 'companies:replace_company' company.pk %}" method='post'>
                {% csrf_token %}
                <div class="row mb-2">
                    <div class="col-12 col-md-6 d-flex justify-content-md-end align-items-center"
                         style="font-weight: bold;">
                        {{ form.name.label_tag }}
                    </div>
                    <div class="col-12 col-md-3 d-flex align-items-center">
                        {{ form.name }}
                    </div>
                </div>
                {% if form.name.errors %}
                    <div class="row">
                        <div class="col-12 col-md-6 offset-md-6 text-danger">
                            {{ form.name.errors }}
                        </div>
                    </div>
                {% endif %}
                <div class="row mb-2">
                    <div class="col-12 col-md-6 d-flex justify-content-md-end align-items-center"
                         style="font-weight: bold;">
                        {{ form.nip.label_tag }}
                    </div>
                    <div class="col-12 col-md-3 d-flex align-items-center">
                        {{ form.nip }}
                    </div>
                </div>
                {% if form.nip.errors %}
                    <div class="row">
                        <div class="col-12 col-md-6 offset-md-6 text-danger">
                            {{ form.nip.errors }}
                        </div>
                    </div>
                {% endif %}
                <div class="row mb-2">
                    <div class="col-12 col-md-6 d-flex justify-content-md-end align-items-center"
                         style="font-weight: bold;">
                        {{ form.regon.label_tag }}
                    </div>
                    <div class="col-12 col-md-3 d-flex align-items-center">
                        {{ form.regon }}
                    </div>
                </div>
                {% if form.regon.errors %}
                    <div class="row">
                        <div class="col-12 col-md-6 offset-md-6 text-danger">
                            {{ form.regon.errors }}
                        </div>
                    </div>
                {% endif %}
                <div class="row mb-2">
                    <div class="col-12 col-md-6 d-flex justify-content-md-end align-items-center"
                         style="font-weight: bold;">
                        {{ form.address.label_tag }}
                    </div>
                    <div class="col-12 col-md-3 d-flex align-items-center">
                        {{ form.address }}
                    </div>
                </div>
                {% if form.address.errors %}
                    <div class="row">
                        <div class="col-12 col-md-6 offset-md-6 text-danger">
                            {{ form.address.errors }}
                        </div>
                    </div>
                {% endif %}
                <div class="row mb-2">
                    <div class="col-12 col-md-6 d-flex justify-content-md-end align-items-center"
                         style="font-weight: bold;">
                        {{ form.zip_code.label_tag }}
                    </div>
                    <div class="col-12 col-md-2 d-flex align-items-center">
                        {{ form.zip_code }}
                    </div>
                </div>
                {% if form.zip_code.errors %}
                    <div class="row">
                        <div class="col-12 col-md-6 offset-md-6 text-danger">
                            {{ form.zip_code.errors }}
                        </div>
                    </div>
                {% endif %}
                <div class="row mb-2">
                    <div class="col-12 col-md-6 d-flex justify-content-md-end align-items-center"
                         style="font-weight: bold;">
                        {{ form.city.label_tag }}
                    </div>
                    <div class="col-12 col-md-3 d-flex align-items-center">
                        {{ form.city }}
                    </div>
                </div>
                {% if form.city.errors %}
                    <div class="row">
                        <div class="col-12 col-md-6 offset-md-6 text-danger">
                            {{ form.city.errors }}</div>
                    </div>
                {% endif %}
                <div class="row mb-2">
                    <div class="col-12 col-md-6 d-flex justify-content-md-end align-items-center"
                         style="font-weight: bold;">
                        {{ form.country.label_tag }}
                    </div>
                    <div class="col-12 col-md-3 d-flex align-items-center">
                        {{ form.country }}
                    </div>
                    <div class="col-12 col-md-3 d-flex flex-column flex-md-row mt-2 gap-2">
                        <a id="saveCountryButton" class="btn btn-primary w-md-auto  d-none" href="{% url 'countries:create_country_ajax' %}">Zapisz</a>
                        <a id="cancelCountryButton" class="btn btn-secondary w-md-auto d-none">Anuluj</a>
                    </div>
                </div>
                {% if form.country.errors %}
                    <div class="row">
                        <div class="col-12 col-md-6 offset-md-6 text-danger">
                            {{ form.country.errors }}
                        </div>
                    </div>
                {% endif %}
                <div class="row mb-2">
                    <div class="col-12 col-md-6 d-flex justify-content-md-end align-items-center"
                         style="font-weight: bold;">
                        {{ form.email.label_tag }}
                    </div>
                    <div class="col-12 col-md-3 d-flex align-items-center">
                        {{ form.email }}
                    </div>
                </div>
                {% if form.email.errors %}
                    <div class="row">
                        <div class="col-12 col-md-6 offset-md-6 text-danger">
                            {{ form.email.errors }}
                        </div>
                    </div>
                {% endif %}
                <div class="row mb-2">
                    <div class="col-12 col-md-6 d-flex justify-content-md-end align-items-center"
                         style="font-weight: bold;">
                        {{ form.phone_number.label_tag }}
                    </div>
                    <div class="col-12 col-md-3 d-flex align-items-center">
                        {{ form.phone_number }}
                    </div>
                </div>
                {% if form.phone_number %}
                    <div class="row">
                        <div class="col-12 col-md-6 offset-md-6 text-danger">
                            {{ form.phone_number.errors }}
                        </div>
                    </div>
                {% endif %}
                <div class="row mt-4 justify-content-center">
                    <div class="col-12 col-md-auto d-flex flex-column flex-md-row gap-2">
                        <button class="btn btn-primary w-100 w-md-auto" name="submit">Zapisz</button>
                        {% if company.is_my_company %}
                            <a class="btn btn-secondary w-100 w-md-auto" href="{% url 'companies:list_my_companies' %}">Powrót</a>
                        {% else %}
                            <a class="btn btn-secondary w-100 w-md-auto" href="{% url 'companies:list_companies' %}">Powrót</a>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}