{% extends "base.html" %}{% load static %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'invoices:index' %}">Strona główna</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'companies:list_my_companies' %}">Moje firmy</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'companies:detail_company' company.pk %}">{{ company.name }}</a></li>
                    <ol class="breadcrumb-item active" aria-current="page">Ustawienia</ol>
                </ol>
            </nav>
        </div>

        <div class="row">
            <div class="col text-center">
                <a class="btn btn-primary mt-3" href="{% url 'companies:list_summary_recipients' company.pk%}">Odbiorca faktur</a>
            </div>
            <div class="col text-center">
                <a class="btn btn-primary mt-3" href="{% url 'accountants:list_accountants' %}">Moja księgowość</a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col text-center">
                <a class="btn btn-primary mt-3" href="{% url 'companies:list_my_companies' %}">Powrót</a>
            </div>
        </div>
    </div>
{% endblock content %}