{% extends "base.html" %}{% load static %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'invoices:index' %}">Strona głównaeby</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'companies:list_my_companies' %}">Moja firma</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'companies:detail_company' company.pk %}">{{ company.name }}</a></li>
                    <ol class="breadcrumb-item active" aria-current="page">Ustawienia</ol>
                </ol>
            </nav>
        </div>
        <div class="row mt-2">
            <div class="col">
                <a class="btn btn-primary mt-3" href="{% url 'companies:create_month_summary_recipient' company.pk %}">Dodaj odbiorcę podsumowania miesiąca</a></h3>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <a class="btn btn-primary mt-3" href="{% url 'companies:list_my_companies' %}">Powrót</a>
            </div>
        </div>
    </div>
{% endblock content %}