{% extends "base.html" %}{% load static %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'invoices.css' %}">

    <div class="top_actions">
        <a href="{% url 'invoices:list_invoices' %}">Powrót</a>
    </div>

    <h1>Nowa faktura</h1>

    <h3>
        <a href="{% url 'companies:create_company' %}?next={% url 'invoices:create_invoice' %}">Dodaj firmę</a>
        <a href="{% url 'currencies:create_currency' %}?next={% url 'invoices:create_invoice' %}">Dodaj walutę</a>
    </h3>

    <form action="{% url 'invoices:create_invoice' %}" method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <button name="submit">Dodaj</button>
    </form>

{% endblock content %}