{% extends "base.html" %}{% load static %}

{% block content %}
    <div class="container mt-2">
        <div class="row">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'index' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"></path>
                            </svg>
                        </a>
                    </li>
                    <li class="breadcrumb-item"><a href="{% url 'invoices:list_invoices' %}">Faktury</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ invoice.invoice_number }}</li>
                </ol>
            </nav>
        </div>
        <div class="row mb-2">
            <div class="col-12 col-md-6 text-md-end" style="font-weight: bold;">Typ faktury:</div>
            <div class="col-4">{{ invoice.get_invoice_type_display }}</div>
        </div>
        <div class="row mb-2">
            <div class="col-12 col-md-6 text-md-end" style="font-weight: bold;">Nabywca:</div>
            <div class="col-4">{{ invoice.company }}</div>
        </div>
        <div class="row mb-2">
            <div class="col-12 col-md-6 text-md-end" style="font-weight: bold;">Data sprzedaży:</div>
            <div class="col-4">{{ invoice.sale_date| date:"d.m.Y" }}</div>
        </div>
        <div class="row mb-2">
            <div class="col-12 col-md-6 text-md-end" style="font-weight: bold;">Data płatności:</div>
            <div class="col-4">{{ invoice.payment_date| date:"d.m.Y" }}</div>
        </div>
        <div class="row mb-2">
            <div class="col-12 col-md-6 text-md-end" style="font-weight: bold;">Data rozliczenia:</div>
            <div class="col-4">{{ invoice.settlement_date| date:"d.m.Y" }}</div>
        </div>
        <div class="row mb-2">
            <div class="col-12 col-md-6 text-md-end" style="font-weight: bold;">Plik faktury:</div>
            <div class="col-4">{{ invoice.invoice_file }}</div>
        </div>
        <div class="row mb-2">
            <div class="col-12 col-md-6 text-md-end" style="font-weight: bold;">Opłacona:</div>
            {% if invoice.is_paid %}
                <div class="col-4">Tak</div>
            {% else %}
                <div class="col-4">Nie</div>
            {% endif %}
        </div>
        <div class="row mb-2">
            <div class="col-12 col-md-6 text-md-end" style="font-weight: bold;">Rozliczona:</div>
            <div class="col-4">
                {% if invoice.is_settled %}
                    <span>Tak</span>
                {% else %}
                    <span>Nie</span>
                {% endif %}
            </div>
        </div>
        <div class="row mt-3 justify-content-center">
            <div class="col-12 col-md-auto d-flex flex-column flex-md-row gap-2">
                <a class="btn btn-primary w-md-auto" href="{% url 'invoices:replace_buy_invoice' invoice.pk %}">Edytuj</a>
                <a class="btn btn-danger w-md-auto" href="{% url 'invoices:delete_invoice' invoice.pk %}">Usuń</a>
            </div>
        </div>
        <div class="row mt-2">
            {% if invoice.items.exists %}
                <table class="table table-hover text-center mt-2">
                    <thead class="table-light">
                        <tr>
                            <th>Lp.</th>
                            <th style="width: 500px;">Nazwa</th>
                            <th>PKWiU</th>
                            <th>Ilość</th>
                            <th>Cena netto</th>
                            <th>Wartość netto</th>
                            <th>VAT</th>
                            <th>Kwota VAT</th>
                            <th>Wartość brutto</th>
                            <th>Opcje</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for item in invoice.items.all %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td style="width: 500px;">{{ item.name }}</td>
                                <td>
                                    {% if item.pkwiu %}
                                        {{ item.pkwiu }}
                                    {% else %}
                                        <span>-</span>
                                    {% endif %}
                                </td>
                                <td>{{ item.amount }}</td>
                                <td>{{ item.net_price|floatformat:"2g" }}</td>
                                <td>{{ item.net_amount|floatformat:"2g" }}</td>
                                <td>
                                    {% if item.vat %}
                                        {{ item.vat }} %
                                    {% else %}
                                        <span>ZW</span>
                                    {% endif %}
                                </td>
                                <td>{{ item.tax_amount|floatformat:"2g" }}</td>
                                <td>{{ item.gross_amount|floatformat:"2g" }}</td>
                                <td>
                                    <a href="{% url 'items:replace_item' item.pk %}?next={% url 'invoices:detail_invoice' invoice.pk %}">Edytuj</a>
                                    <a href="{% url 'items:delete_item' item.pk %}?next={% url 'invoices:detail_invoice' invoice.pk %}">Usuń</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
            <div class="row">
                <div class="col-12 d-flex justify-content-left">
                    <b>Brak pozycji do faktury</b>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="row mt-2">
            <div class="col-12 col-md-auto">
                <a class="btn btn-primary w-100 w-md-auto" href="{% url 'items:create_item' invoice.pk %}">Dodaj</a>
            </div>
        </div>
        <div class="row mt-2 justify-content-center">
            <div class="col-12 col-md-auto d-flex flex-column flex-md-row gap-2">
                <a class="btn btn-success w-md-auto" href="{{ invoice.invoice_file.url }}" target="_blank" rel="noopener noreferrer">Faktura pdf</a>
                <a class="btn btn-secondary w-md-auto" href="{% url 'invoices:list_invoices' %}">Powrót</a>
            </div>
        </div>
    </div>
{% endblock content %}