{% extends "base.html" %}

{% block content %}

    <ul>
        <li>Numer faktury: {{ invoice.invoice_number }}</li>
        <li>Data utworzenia: {{ invoice.create_date }}</li>
        <li>Data sprzedaży: {{ invoice.sale_date }}</li>
        <li>Data płatności: {{ invoice.payment_date }}</li>
        <li>Typ faktury: {{ invoice.get_invoice_type_display }}</li>
        <li>Częstotliwość faktury: {{ invoice.recurring_frequency }}</li>
        <li>Powtarzalność faktury: {{ invoice.is_recurring }}</li>
        <li>Firma:{{ invoice.company }}</li>
        <li>Sposób płatności: {{ invoice.get_payment_method_display }}</li>
        <li>Waluta: {{ invoice.currency }}</li>
        <li>Numer konta: {{ invoice.account_number }}</li>
    </ul>

    <a href="{% url 'invoices:list_invoices' %}">Powrót</a>
    <a href="{% url 'invoices:replace_invoice' invoice.pk %}">Edytuj</a>
    <a href="{% url 'invoices:pdf_invoice' invoice.pk %}">Faktura pdf</a>
    <a href="{% url 'invoices:delete_invoice' invoice.pk %}">Usuń</a>

{% endblock content %}


