{% extends "base.html" %}{% load static %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'invoices:index' %}">Strona główna</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'invoices:list_invoices' %}">Faktury</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ invoice.invoice_number }}</li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <table class="table table-hover text-center mt-3">
                <thead class="table-light">
                    <tr>
                        <th>Data utworzenia</th>
                        <th>Data sprzedaży</th>
                        <th>Data płatności</th>
                        <th>Typ faktury</th>
                        <th>Sposób płatności</th>
                        <th>Waluta</th>
                        <th>Numer konta</th>
                        <th>Opcje</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr>
                        <td>{{ invoice.create_date| date:"d.m.Y" }}</td>
                        <td>{{ invoice.sale_date| date:"d.m.Y" }}</td>
                        <td>{{ invoice.payment_date| date:"d.m.Y" }}</td>
                        <td>{{ invoice.get_invoice_type_display }}</td>
                        <td>{{ invoice.get_payment_method_display }}</td>
                        <td>{{ invoice.currency }}</td>
                        <td>{{ invoice.account_number }}</td>
                        <td>
                            <a href="{% url 'invoices:replace_invoice' invoice.pk %}">Edytuj</a>
                            <a href="{% url 'invoices:delete_invoice' invoice.pk %}">Usuń</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col">
                <a class="btn btn-primary mt-3" href="{% url 'items:create_item' invoice.pk %}">Dodaj pozycję</a>
            </div>
        </div>
        <div class="row">
            {% if invoice.items.exists %}
                <table class="table table-hover text-center mt-3">
                    <thead class="table-light">
                        <tr>
                            <th>Lp.</th>
                            <th>Nazwa</th>
                            <th>PKWiU</th>
                            <th>Ilość</th>
                            <th>Cena netto</th>
                            <th>Wartość netto</th>
                            <th>Vat</th>
                            <th>Wartość vat</th>
                            <th>Wartość brutto</th>
                            <th>Opcje</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for item in invoice.items.all %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.pkwiu }}</td>
                                <td>{{ item.amount }}</td>
                                <td>{{ item.net_price|floatformat:"2g" }}</td>
                                <td>{{ item.net_amount|floatformat:"2g" }}</td>
                                <td>{{ item.vat }} %</td>
                                <td>{{ item.tax_amount|floatformat:"2g" }}</td>
                                <td>{{ item.gross_amount|floatformat:"2g" }}</td>
                                <td>
                                    <a href="{% url 'items:replace_item' item.pk %}?next={% url 'invoices:detail_invoice' invoice.pk %}">Edytuj</a>
                                    <a href="{% url 'items:delete_item' item.pk %}?next={% url 'invoices:detail_invoice' invoice.pk %}">Usuń</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="row mt-3">
                    <div class="col">
                        <b>Brak pozycji</b>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col">
                <a class="btn btn-primary mt-3" href="{% url 'invoices:list_invoices' %}">Powrót</a>
                <a class="btn btn-primary mt-3" href="{% url 'invoices:pdf_invoice' invoice.pk %}">Faktura pdf</a>
            </div>
        </div>
    </div>
{% endblock content %}


