{% extends "base.html" %}{% load static %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'invoices:index' %}">Strona główna</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'invoices:list_invoices' %}">Faktury</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ invoice.invoice_number }}</li>
                </ol>
            </nav>
        </div>
        <div class="row mb-2">
            <div class="col-3 offset-3 text-end">Typ faktury:</div>
            <div class="col-4">{{ invoice.get_invoice_type_display }}</div>
        </div>
        <div class="row mb-2">
            <div class="col-3 offset-3 text-end">Moja firma:</div>
            <div class="col-4">{{ invoice.company }}</div>
        </div>
        <div class="row mb-2">
            <div class="col-3 offset-3 text-end">Data płatności:</div>
            <div class="col-4">{{ invoice.payment_date| date:"d.m.Y" }}</div>
        </div>
        <div class="row mb-2">
            <div class="col-3 offset-3 text-end">Data rozliczenia:</div>
            <div class="col-4">{{ invoice.settlement_date| date:"d.m.Y" }}</div>
        </div>
        <div class="row mb-2">
            <div class="col-3 offset-3 text-end">Rozliczona:</div>
            <div class="col-4">
                {% if invoice.is_settled %}
                    <span>Tak</span>
                {% else %}
                    <span>Nie</span>
                {% endif %}
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-3 offset-3 text-end">Plik faktury:</div>
            <div class="col-4">{{ invoice.invoice_file }}</div>
        </div>
        <div class="row mt-2">
            <div class="col text-center">
                <a class="btn btn-primary mt-3" href="{% url 'invoices:replace_buy_invoice' invoice.pk %}">Edytuj</a>
                <a class="btn btn-primary mt-3" href="{% url 'invoices:delete_invoice' invoice.pk %}">Usuń</a>
            </div>
        </div>
        <div class="row mt-2">
            {% if invoice.items.exists %}
                <table class="table table-hover text-center mt-4">
                    <thead class="table-light">
                        <tr>
                            <th>Lp.</th>
                            <th>Nazwa</th>
                            <th>PKWiU</th>
                            <th>Ilość</th>
                            <th>Cena netto</th>
                            <th>Wartość netto</th>
                            <th>Vat</th>
                            <th>Wartość vat</th>
                            <th>Wartość brutto</th>
                            <th>Opcje</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for item in invoice.items.all %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.pkwiu }}</td>
                                <td>{{ item.amount }}</td>
                                <td>{{ item.net_price|floatformat:"2g" }}</td>
                                <td>{{ item.net_amount|floatformat:"2g" }}</td>
                                <td>{{ item.vat }} %</td>
                                <td>{{ item.tax_amount|floatformat:"2g" }}</td>
                                <td>{{ item.gross_amount|floatformat:"2g" }}</td>
                                <td>
                                    <a href="{% url 'items:replace_item' item.pk %}?next={% url 'invoices:detail_invoice' invoice.pk %}">Edytuj</a>
                                    <a href="{% url 'items:delete_item' item.pk %}?next={% url 'invoices:detail_invoice' invoice.pk %}">Usuń</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
            <div class="row mt-2">
                <div class="col">
                    <b>Brak pozycji do faktury: {{ invoice.invoice_number }}</b>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col">
                <a class="btn btn-primary mt-3" href="{% url 'items:create_item' invoice.pk %}">Dodaj</a>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <a class="btn btn-primary mt-3" href="{% url 'invoices:list_invoices' %}">Powrót</a>
                <a class="btn btn-primary mt-3" href="{% url 'invoices:pdf_invoice' invoice.pk %}">Faktura pdf</a>
            </div>
        </div>
    </div>
{% endblock content %}