{% extends "base.html" %}{% load static %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'invoices.css' %}">

    <h1>Szczegóły faktury</h1>

    <ul style="list-style-type:none">
        <li><b>Numer faktury:</b> {{ invoice.invoice_number }}</li>
        <li><b>Data utworzenia:</b> {{ invoice.create_date }}</li>
        <li><b>Data sprzedaży:</b> {{ invoice.sale_date }}</li>
        <li><b>Data płatności:</b> {{ invoice.payment_date }}</li>
        <li><b>Typ faktury:</b> {{ invoice.get_invoice_type_display }}</li>
        <li><b>Częstotliwość faktury:</b> {{ invoice.recurring_frequency }}</li>
        <li><b>Powtarzalność faktury:</b> {{ invoice.is_recurring }}</li>
        <li><b>Firma:</b> {{ invoice.company }}</li>
        <li><b>Sposób płatności:</b> {{ invoice.get_payment_method_display }}</li>
        <li><b>Waluta:</b> {{ invoice.currency }}</li>
        <li><b>Numer konta:</b> {{ invoice.account_number }}</li>
    </ul>

    <a href="{% url 'invoices:list_invoices' %}">Powrót</a>
    <a href="{% url 'invoices:replace_invoice' invoice.pk %}">Edytuj</a>
    <a href="{% url 'invoices:pdf_invoice' invoice.pk %}">Faktura pdf</a>
    <a href="{% url 'invoices:delete_invoice' invoice.pk %}">Usuń</a>

{% endblock content %}


