{% extends "base.html" %}

{% block content %}

    <p>
        <a href="{% url 'invoices:create_invoice' %}">Dodaj fakturę</a>
    </p>

    <p>Lista faktur</p>

    {% if invoices %}
        <table>
            <tr>
                <th>Lp</th>
                <th>Numer faktury</th>
                <th>Firma</th>
                <th>Data płatności</th>
                <th>Wartość netto</th>
                <th>Wartosc brutto</th>
                <th>Opcje</th>
            </tr>
            {% for invoice in invoices %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ invoice }}</td>
                    <td>{{ invoice.company.name }}</td>
                    <td>{{ invoice.payment_date }}</td>
                    <td>{{ invoice.net_price }}</td>
                    <td>{{ invoice.gross_amount }}</td>
                    <td>
                        <a href="{% url 'invoices:detail_invoice' invoice.pk %}">Więcej</a>
                        <a href="{% url 'invoices:replace_invoice' invoice.pk %}">Edytuj</a>
                        <a href="{% url 'invoices:pdf_invoice' invoice.pk %}">Faktura pdf</a>
                        <a href="{% url 'invoices:delete_invoice' invoice.pk %}">Usuń</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Brak faktur</p>
    {% endif %}

{% endblock content %}

