{% extends "base.html" %}{% load static %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'invoices.css' %}">

    <h3><a href="{% url 'invoices:create_invoice' %}">Dodaj fakturę</a></h3>

    {% if invoices %}

        <h1>Lista faktur</h1>

        <table class="items">
            <tr>
                <th style="width:5%">Lp.</th>
                <th style="width:10%">Numer faktury</th>
                <th style="width:25%">Firma</th>
                <th style="width:10%">Data płatności</th>
                <th style="width:10%">Wartość netto</th>
                <th style="width:10%">Wartość VAT</th>
                <th style="width:10%">Wartosc brutto</th>
                <th style="width:20%">Opcje</th>
            </tr>
            {% for invoice in invoices %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ invoice }}</td>
                    <td>{{ invoice.company.name }}</td>
                    <td>{{ invoice.payment_date }}</td>
                    <td>{{ invoice.net_amount|floatformat:"2g" }}</td>
                    <td>{{ invoice.tax_amount|floatformat:"2g" }}</td>
                    <td>{{ invoice.gross_amount|floatformat:"2g" }}</td>
                    <td>
                        <a href="{% url 'invoices:detail_invoice' invoice.pk %}">Więcej</a>
                        <a href="{% url 'invoices:replace_invoice' invoice.pk %}">Edytuj</a>
                        <a href="{% url 'invoices:pdf_invoice' invoice.pk %}">Faktura pdf</a>
                        <a href="{% url 'invoices:delete_invoice' invoice.pk %}">Usuń</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h3>Brak faktur</h3>
    {% endif %}

{% endblock content %}

