{% load static %}

<style>
    @font-face {
        font-family: "Open Sans"; src: url("static/OpenSans-Regular.ttf");
        font-weight: normal;
    }
    @font-face {
        font-family: "Open Sans"; src: url("static/OpenSans-Bold.ttf");
        font-weight: bold;
    }
    * {
        font-family: "Open Sans";
    }
    h1 {
        color: deepskyblue;
        font-size: 35px;
    }
    h2 {
        color: deepskyblue;
        font-size: 25px;
    }
    p {
        font-size: 12px;
        text-align: left;
    }
    .information {
        color: gray;
        font-size: 12px;
        text-align: right;
    }
    .specific-information {
        font-size: 12px;
        margin-left: 5px;
    }
    .top {
        margin-top: 12px;
    }
    .items {
        border-collapse: collapse;
        text-align: center;
        margin-top: 11px;
    }
    .items tr {
        border: 1px solid deepskyblue;
    }
    .items tr.no-border {
        border: 0;
    }
    .items td {
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 12px;
    }
    .items-background-color {
        background-color: lightskyblue;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .item-description {
        text-align: left;
        margin-left: 5px;
    }
    .item-summary {
        background-color: lightskyblue;
        font-size: 15px;
        text-align: right;
        margin-right: 5px;
    }
    .footer {
        border-collapse: collapse;
        text-align: center;
        font-size: 9px;
        margin-top: 18px;
    }
    .footer td{
        padding-top: 50px;
        padding-bottom: 5px;
        border: 1px solid deepskyblue;
    }
    .footer td.no-border {
        border: 0;
        width: 5%;
    }
    .summary-title {
        font-size: 12px;
        margin-right: 5px;
        text-align: right;
    }
</style>

<h1>Faktura VAT</h1>
<h2>Nr {{ invoice.invoice_number }}</h2>

<table>
    <tr>
        <td class="information" style="width:18%">SPRZEDAWCA:</td>
        <td class="specific-information">{{ invoice.company.name }}</td>
        <td class="information" style="width:18%">NABYWCA:</td>
        <td class="specific-information">{{ invoice.client.name }}</td>
    </tr>
    <tr>
        <td class="information" style="width:18%; vertical-align: top">ADRES:</td>
        <td class="specific-information" >{{ invoice.company.address }} <br />{{ invoice.company.zip_code }} {{ invoice.company.city }}, {{ invoice.company.country }}</td>
        <td class="information" style="width:18%; vertical-align: top">ADRES:</td>
        <td class="specific-information">{{ invoice.client.address }} <br />{{ invoice.client.zip_code }} {{ invoice.client.city }}, {{ invoice.client.country }}</td>
    </tr>
    <tr>
        <td style="width:15%"></td>
        <td></td>
        <td style="width:15%"></td>
        <td></td>
    </tr>
    <tr>
        <td class="information" style="width:18%">NIP:</td>
        <td class="specific-information">{{ invoice.company.nip }}</td>
        <td class="information" style="width:18%">NIP:</td>
        <td class="specific-information">{{ invoice.client.nip }}</td>
    </tr>
</table>

<hr color="lightskyblue">

<table class="top">
    <tr>
        <td class="information" style="width:18%">DATA WYSTAWIENIA:</td>
        <td class="specific-information">{{ invoice.create_date| date:"d.m.Y" }}</td>
        <td class="information" style="width:18%">SPOSÓB PŁATNOŚCI:</td>
        <td class="specific-information">{{ invoice.get_payment_method_display }}</td>
    </tr>
    <tr>
        <td class="information" style="width:18%">DATA SPRZEDAŻY:</td>
        <td class="specific-information">{{ invoice.sale_date| date:"d.m.Y" }}</td>
        <td class="information" style="width:18%">WALUTA:</td>
        <td class="specific-information">{{ invoice.currency }}</td>
    </tr>
    <tr>
        <td class="information" style="width:18%">TERMIN PŁATNOŚCI:</td>
        <td class="specific-information">{{ invoice.payment_date| date:"d.m.Y" }}</td>
        <td class="information" style="width:18%">NUMER KONTA:</td>
        <td class="specific-information">{{ invoice.account_number }}</td>
    </tr>
</table>

<table class="items">
    <tr class="items-background-color">
        <th style="width:4%">Lp.</th>
        <th style="width:40%">Nazwa towaru lub uslugi</th>
        <th>PKWiU</th>
        <th>Ilość</th>
        <th>Cena netto</th>
        <th>Wartość netto</th>
        <th>Stawka VAT</th>
    </tr>
    {% for item in items %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td class="item-description">{{ item.name }}</td>
            <td>{{ item.pkwiu }}</td>
            <td>{{ item.amount }}</td>
            <td>{{ item.net_price|floatformat:"2g" }}</td>
            <td>{{ item.net_amount|floatformat:"2g" }}</td>
            <td >{{ item.vat }} %</td>
        </tr>
    {% endfor %}
    <tr class="no-border">
        <td colspan="7" style="padding-top: 6px;" class="summary-title"><b>Podsumowanie</b></td>
    </tr>
    <tr class="no-border">
        <td colspan="3"></td>
        <td class="items-background-color"></td>
        <th class="items-background-color">Wartość netto</th>
        <th class="items-background-color">Wartość VAT</th>
        <th class="items-background-color">Wartość brutto</th>
    </tr>
    <tr class="no-border">
        <td colspan="4" class="summary-title" ><b>Razem:</b></td>
        <td>{{ invoice.net_amount|floatformat:"2g"}}</td>
        <td>{{ invoice.tax_amount|floatformat:"2g" }}</td>
        <td>{{ invoice.gross_amount|floatformat:"2g" }}</td>
    </tr>
    <tr class="no-border">
        <td colspan="3"></td>
        <td colspan="4" class="item-summary">Razem do zapłaty: <b>{{ invoice.gross_amount|floatformat:"2g" }} {{ invoice.currency }}</b></td>
    </tr>
</table>

<div style="line-height: 20px; font-size: 12px; margin-top: 16px">
    Zapłacono: <b>0,00 {{ invoice.currency }}</b><br>
    Pozostało do zapłaty: <b>{{ invoice.gross_amount|floatformat:"2g" }} {{ invoice.currency }}</b><br>
    Słownie: <b>{{ gross_whole_amount }} złotych i {{ gross_frac_amount }} groszy</b>
</div>

<hr style="margin-top: 10px;" color="lightskyblue">

{% if items %}
    <table class="footer">
        <tr>
            <td>imię, nazwisko i podpis osoby upoważnionej do odebrania dokumentu</td>
            <td class="no-border"></td>
            <td>imię, nazwisko i podpis osoby upoważnionej do wystawienia dokumentu</td>
        </tr>
    </table>
{% endif %}
