{% extends "base.html" %}{% load static %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'invoices:index' %}">Strona główna</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'invoices:list_invoices' %}">Faktury</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'invoices:detail_invoice' invoice.pk %}">{{ invoice.invoice_number }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Edytuj</li>
                </ol>
            </nav>
        </div>
        <div class="row mt-2">
            {% if create_correction %}
                <form action="{% url 'invoices:create_correction_invoice' invoice.pk %}" method='post'>
            {% else %}    
                <form action="{% url 'invoices:replace_sell_invoice' invoice.pk %}" method='post'>
            {% endif %}    
                {% csrf_token %}
                {{ form.next }}
                <div class="row mb-2">
                    <div class="col-2 offset-3 text-end">{{ form.invoice_number.label_tag }}</div>
                    <div class="col-3">{{ form.invoice_number }}</div>
                </div>
                {% if form.invoice_number.errors %}
                    <div class="row">
                        <div class="col-auto offset-5 text-danger">{{ form.invoice_number.errors }}</div>
                    </div>
                {% endif %}
                <div class="row mb-2">
                    <div class="col-2 offset-3 text-end">{{ form.company.label_tag }}</div>
                    <div class="col-3">{{ form.company }}</div>
                    <div class="col">
                        <a class="btn btn-primary" href="{% url 'companies:create_my_company' %}?next={% url 'invoices:create_sell_invoice' %}">Dodaj</a>
                    </div>
                </div>
                {% if form.company.errors %}
                    <div class="row">
                        <div class="col-auto offset-5 text-danger">{{ form.company.errors }}</div>
                    </div>
                {% endif %}
                {% if form.instance.client %}
                    <div class="row mb-2">
                        <div class="col-2 offset-3 text-end">{{ form.client.label_tag }}</div>
                        <div class="col-3">{{ form.client }}</div>
                        <div class="col"><a class="btn btn-primary" href="{% url 'companies:create_company' %}?next={% url 'invoices:create_sell_invoice' %}">Dodaj</a></div>
                    </div>
                    {% if form.client.errors %}
                        <div class="row">
                            <div class="col-auto offset-5 text-danger">
                                {{ form.client.errors }}
                            </div>
                        </div>
                    {% endif %}
                {% else %}
                    <div class="row mb-2">
                        <div class="col-2 offset-3 text-end">{{ form.person.label_tag }}</div>
                        <div class="col-3">{{ form.person }}</div>
                        <div class="col"><a class="btn btn-primary" href="{% url 'persons:create_person' %}?next={% url 'invoices:create_sell_invoice' %}">Dodaj</a></div>
                    </div>
                    {% if form.person.errors %}
                        <div class="row">
                            <div class="col-auto offset-5 text-danger">
                                {{ form.person.errors }}
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
                <div class="row mb-2">
                    <div class="col-2 offset-3 text-end">{{ form.create_date.label_tag }}</div>
                    <div class="col-2">{{ form.create_date }}</div>
                </div>
                {% if form.create_date.errors %}
                    <div class="row">
                        <div class="col-auto offset-5 text-danger">{{ form.create_date.errors }}</div>
                    </div>
                {% endif %}
                <div class="row mb-2">
                    <div class="col-2 offset-3 text-end">{{ form.sale_date.label_tag }}</div>
                    <div class="col-2">{{ form.sale_date }}</div>
                </div>
                {% if form.sale_date.errors %}
                    <div class="row">
                        <div class="col-auto offset-5 text-danger">{{ form.sale_date.errors }}</div>
                    </div>
                {% endif %}
                <div class="row mb-2">
                    <div class="col-2 offset-3 text-end">{{ form.payment_date.label_tag }}</div>
                    <div class="col-2">{{ form.payment_date }}</div>
                </div>
                {% if form.payment_date.errors %}
                    <div class="row">
                        <div class="col-auto offset-5 text-danger">{{ form.payment_date.errors }}</div>
                    </div>
                {% endif %}
                <div class="row mb-2">
                    <div class="col-2 offset-3 text-end">{{ form.payment_method.label_tag }}</div>
                    <div class="col-2">{{ form.payment_method }}</div>
                </div>
                {% if form.payment_method.errors %}
                    <div class="row">
                        <div class="col-auto offset-5 text-danger">{{ form.payment_method.errors }}</div>
                    </div>
                {% endif %}
                <div class="row mb-2">
                    <div class="col-2 offset-3 text-end">{{ form.currency.label_tag }}</div>
                    <div class="col-1">{{ form.currency }}</div>
                    <div class="col-2">
                        <a class="btn btn-primary" href="{% url 'currencies:create_currency' %}?next={% url 'invoices:create_sell_invoice' %}">Dodaj</a>
                    </div>
                </div>
                {% if form.currency.errors %}
                    <div class="row">
                        <div class="col-auto offset-5 text-danger">{{ form.currency.errors }}</div>
                    </div>
                {% endif %}
                <div class="row mb-2">
                    <div class="col-2 offset-3 text-end">{{ form.account_number.label_tag }}</div>
                    <div class="col-4">{{ form.account_number }}</div>
                </div>
                {% if form.account_number.errors %}
                    <div class="row">
                        <div class="col-auto offset-5 text-danger">{{ form.account_number.errors }}</div>
                    </div>
                {% endif %}
                <div class="row mb-2">
                    <div class="col-2 offset-3 text-end">{{ form.is_paid.label_tag }}</div>
                    <div class="col-4">{{ form.is_paid }}</div>
                </div>
                {% if form.is_paid.errors %}
                    <div class="row">
                        <div class="col-auto offset-5 text-danger">
                            {{ form.is_paid.errors }}
                        </div>
                    </div>
                {% endif %}
                {% if not create_correction %}
                    <div class="row mb-2">
                        <div class="col-2 offset-3 text-end">{{ form.is_recurring.label_tag }}</div>
                        <div class="col-4">{{ form.is_recurring }}</div>
                    </div>
                    {% if form.is_recurring.errors %}
                        <div class="row">
                            <div class="col-auto offset-5 text-danger">
                                {{ form.is_recurring.errors }}
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
                <div class="row">
                    <div class="col text-center">
                        <a class="btn btn-secondary mt-3" href="{% url 'invoices:detail_invoice' invoice.pk %}">Powrót</a>
                        <button class="btn btn-primary mt-3" name="submit">Zapisz</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}