{% load static %}
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Program do fakturowania z funkcjami tworzącymi fimy i faktury">
        <title>Program do fakturowania</title>
        {% block extra_css %}{% endblock extra_css %}
    </head>
    <body>
        <a href="{% url 'invoices:index' %}">Home</a> /
        <a href="{% url 'invoices:list_invoices' %}">Faktury</a> /
        <a href="{% url 'companies:list_companies' %}">Kontrahenci</a> /
        <a href="{% url 'companies:list_my_companies' %}">Moja Firma</a> /
        <a href="{% url 'countries:list_countries' %}">Kraje</a> /
        <a href="{% url 'currencies:list_currencies' %}">Waluty</a> /
        <a href="{% url 'vat_rates:list_vat_rates' %}">Vat</a> /
        {% if user.is_authenticated %}
            <a href="{% url 'users:detail_user' %}">{{ user.username }}</a>
        {% endif %}
        {% if user.is_authenticated %}
            <a href="{% url 'users:logout' %}">Wyloguj</a>
        {% else %}
            <a href="{% url 'users:register_user' %}">Rejestruj</a>
            <a href="{% url 'users:login' %}">Zaloguj</a>
        {% endif %}

        {% block content %}{% endblock content %}
    </body>
</html>