<ul>
  <li>Numer faktury: {{ invoice.invoice_number }}</li>
  <li>Typ faktury: {{ invoice.invoice_type }}</li>
  <li>Firma:{{ invoice.company }}</li>
  <li>Częstotliwość faktury: {{ invoice.recurring_frequency }}</li>
  <li>Powtarzalność faktury: {{ invoice.is_recurring }}</li>
  <li>Data utworzenia: {{ invoice.create_date }}</li>
  <li>Data sprzedaży: {{ invoice.sale_date }}</li>
  <li>Rodzaj płatności: {{ invoice.payment_date }}</li>
  <li>Sposób płatności: {{ invoice.payment_method }}</li>
  <li>Waluta: {{ invoice.currency }}</li>
  <li>Numer konta: {{ invoice.account_number }}</li>
</ul>
