{% extends "base.html" %}

{% block content %}
    <div class="container mt-2">
        <h1 class="text-center">Najczęściej zadawane pytania</h1>
        <p>Zapoznaj się z informacjami dotyczącymi Invoice-Factory - dedykowanej platformy do tworzenia faktur sprzedażowych i zakupowych. 
            Dowiedz się więcej o funkcjach, środkach prywatności i wszystkim, co sprawia, że Invoice-Factory jest miejscem docelowym dla firm oraz osób fozycznych.</p>
        <p>1. Dlaczego Invoice-Factory?</p>
        <p>2. Czy aplikacja Invoice-Factory jest bezpieczna?</p>
        <p>3. Jakie faktury mogę utworzyć jako firma?</p>
        <p>4. Jakie faktury mogę utworzyć jako osoba fizyczna?</p>
        <p>5. W jako sposób mogę zarządzać swoimi stworzonymi fakturami?</p>
        <p>6. Jak działa mechanizm tworzenia cyklicznych faktur?</p>
        <p>7. Jak działa mechanizm tworzenia podsumowania miesiąca?</p>
        <p>8. Czy mogę tworzyć faktury korygujące?</p>
        <p>9. Czy mogę wystawiać faktury w obcej walucie?</p>
        <p>10. Czy w ramach jednego konta mogę zarządzać fakturami z kilku posiadanych firm?</p>
        <p>11. Czy mogę wystawiać faktury zagranicznych kontrahentom i osobom fizycznym?</p>
    </div>
    <footer>
        <div class="container-fluid bg-primary text-white mt-5 py-4 rounded">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-3 d-flex justify-content-center align-items-center">© 2024 Wioletta Wajda</div>
                <div class="col-12 col-md-1 col-lg-4 text-center"></div>
                <div class="col-12 col-md-7 col-lg-5 d-flex justify-content-center align-items-center">
                    <a href="{% url 'privacy_policy' %}" class="btn btn-primary text-white mx-0">Polityka prywatności</a>
                    <a href="{% url 'terms' %}" class="btn btn-primary text-white mx-0">Regulamin</a>
                    <a href="{% url 'faq' %}" class="btn btn-primary text-white mx-0">FAQ</a>
                </div>
            </div>
        </div>
    </footer>
{% endblock content %}