{% extends "base.html" %}

{% block content %}
    <div class="container text-center">
        <div class="row mt-4">
            <div class="col">
                <h3><b>Aplikacja do tworzeniu faktur sprzedażowych i zakupowych</b></h3>
            </div>    
        </div>
        {% if not user.email %}
            <div class="row mt-4">
                <div class="col-6 col-md-6 mb-3">
                    <b>Stały użytkownik:</b>
                </div>
                <div class="col-6 col-md-6 mb-3">
                    <b>Nowy użytkownik:</b>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-6 col-md-6 mb-3">
                    <a class="btn btn-primary mt-2" href="{% url 'users:login' %}">Zaloguj</a>
                </div>
                <div class="col-6 col-md-6 mb-3">
                    <a class="btn btn-primary mt-2" href="{% url 'users:register_user' %}">Zarejestruj</a>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                <p>Aplikacja do fakturowania dla firmy i osoby fizycznej w celu usprawnienia procesów biznesowych. 
                    Dzięki intuicyjnemu interfejsowi i rozbudowanym funkcjom zarządzanie fakturami nigdy nie było łatwiejsze. 
                    Doświadcz wydajności i wygody dzięki temu rozwiązaniu. Oto, co możesz zrobić:</p>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <div class="row align-items-start mt-4">
            <div class="col-12 col-md-6 col-lg-3 mb-4">
                <b>Dodaj swoją firmę:</b> dodaj dane swojej firmy do systemu i zarządzaj wieloma firmami z jednego
                konta.
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-4">
                <b>Zarządzaj kontaktami:</b> dodawaj i śledź nieograniczoną liczbę kontaktów, zarówno kontrahentów,
                jak i konsumentów.
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-4">
                <b>Twórz i edytuj faktury:</b> generuj i edytuj faktury sprzedaży lub zakupu, a także eksportuj je w
                formacie PDF.
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-4">
                <b>Ustawiaj faktury cykliczne:</b> automatyzuj fakturowanie cykliczne i otrzymuj powiadomienia
                e-mail z załącznikiem do faktury.
            </div>
        </div>
        <div class="row align-items-start mt-4">
            <div class="col-12 col-md-6 col-lg-3 mb-4">
                <b>Automatycznie przeliczaj walutę:</b> aplikacja przelicza waluty zgodnie z aktualnymi kursami NBP.
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-4">
                <b>Zamykaj miesiąc:</b> ustal dzień zamknięcia miesiąca, po którym faktury są wysyłane zbiorczo i
                nie mogą być edytowane.
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-4">
                <b>Twórz korektę do faktury:</b> twórz korekty faktur w razie błędów, niezależnie od zamknięcia
                miesiąca.
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-4">
                <b>Raportuj przychód z wystawionych faktur:</b> generuj roczne raporty przychodów i wykresy z
                wystawionych faktur sprzedaży.
            </div>
        </div>
    </div>
    <footer>
        <div class="container-fluid bg-primary text-white mt-5 py-4 rounded">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-3 d-flex justify-content-center align-items-center">© 2024 Wioletta Wajda</div>
                <div class="col-12 col-md-1 col-lg-4 text-center"></div>
                <div class="col-12 col-md-7 col-lg-5 d-flex justify-content-center align-items-center">
                    <a href="{% url 'privacy_policy' %}" class="btn btn-primary text-white mx-0">Polityka prywatności</a>
                    <a href="{% url 'terms' %}" class="btn btn-primary text-white mx-0">Regulamin</a>
                    <a href="{% url 'faq' %}" class="btn btn-primary text-white mx-0">FAQ</a>
                </div>
            </div>
        </div>
    </footer>
{% endblock content %}