{% extends "base.html" %}

{% block content %}
    <div class="container mt-5">
        <div class="row text-center">
            <h3><b>Aplikacja do tworzeniu faktur sprzedażowych i zakupowych dla Twojej firmy</b></h3>
        </div>
        {% if not user.email %}
            <div class="row mt-5">
                <div class="col text-center">
                    <b>Jeśli jesteś stałym użytkownikiem: </b>
                </div>
                <div class="col text-center">
                    <b>Jeśli jesteś nowym użytkownikiem: </b>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col text-center">
                    <a class="btn btn-primary mt-3" href="{% url 'users:login' %}">Zaloguj</a>
                </div>
                <div class="col text-center">
                    <a class="btn btn-primary mt-3" href="{% url 'users:register_user' %}">Zarejestruj</a>
                </div>
            </div>
        {% endif %}

        <div class="row mt-5">
            <p>Ten projekt to przyjazna dla użytkownika aplikacja do fakturowania zaprojektowana w celu usprawnienia procesów biznesowych. Dzięki intuicyjnemu interfejsowi i rozbudowanym funkcjom zarządzanie fakturami nigdy nie było łatwiejsze. Oto, co można zrobić z aplikacją:</p>
        </div>
        <div class="row mt-3">
            <span>1. <b>Dodaj swoją firmę:</b> Łatwo dodaj dane swojej firmy do systemu. Możesz zarządzać wieloma firmami w ramach jednego konta, dzięki czemu jest to wygodne dla firm o zróżnicowanej działalności.</span>
        </div>
        <div class="row mt-3">
            <span>2. <b>Zarządzaj kontaktami:</b> Dodaj nieograniczoną liczbę kontaktów, w tym zarówno podmiotów gospodarczych (kontrahenci), jak i osób fizycznych (osoby fizyczne). Śledź swoich klientów i partnerów bez wysiłku.</span>
        </div>
        <div class="row mt-3">
            <span>3. <b>Tworzenie i edycja faktur:</b> Z łatwością generuj faktury sprzedaży lub zakupu. Ciesz się elastycznością edycji lub usuwania faktur w razie potrzeby. Aplikacja umożliwia generowanie faktur w formacie PDF w celu płynnego udostępniania i prowadzenia dokumentacji.</span>
        </div><div class="row mt-3">
        <span>4. <b>Faktury cykliczne:</b> Skonfiguruj faktury cykliczne dla swoich klientów, aby zautomatyzować proces fakturowania. Zapomnij o comiesięcznym tworzeniu faktur; aplikacja zajmie się tym za Ciebie. Otrzymuj powiadomienia e-mail wraz z załącznikiem do faktury, gdy generowana jest faktura cykliczna.</span>
        </div>
        <div class="row mt-3">
            <span>5. <b>Automatyczne przeliczanie walut:</b> Podczas fakturowania w obcych walutach, pozwól aplikacji zająć się przeliczaniem walut za Ciebie. Automatycznie pobiera ona kursy walut z Narodowego Banku Polskiego (NBP) w celu dokładnego i aktualnego przeliczania walut.</span>
        </div>
        <div class="row mt-3">
            <span>6. <b>Zamknięcie miesiąca:</b> Ustaw konkretny dzień zamknięcia miesiąca i bez wysiłku uzgodnij swoje faktury. Aplikacja gromadzi wszystkie faktury za poprzedni miesiąc i wysyła je zbiorczo do wyznaczonego odbiorcy, niezależnie od tego, czy jest to Ty, czy Twój księgowy. Po zamknięciu miesiąca faktury nie mogą być edytowane, co zapewnia integralność danych. W razie potrzeby można tworzyć korekty faktur.</span>
        </div>
        <div class="row mt-3">
            <p>Dzięki wszechstronnym funkcjom ta aplikacja do fakturowania upraszcza zadania związane z zarządzaniem finansami, pozwalając skupić się na rozwoju firmy. Doświadcz wydajności i wygody dzięki naszemu intuicyjnemu rozwiązaniu do fakturowania.</p>
        </div>    
    </div>
{% endblock content %}