{% extends "base.html" %}{% load static %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'invoices:index' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
                            </svg>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'companies:list_my_companies' %}">Moje Firmy</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'companies:detail_company' company.pk %}">{{ company.name }}</a>
                    </li>
                    <li class="breadcrumb-item"><a href="{% url 'companies:settings_company' company.pk %}">Ustawienia</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'accountants:list_accountants' company.pk %}">Księgowość</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Dodaj</li>
                </ol>
            </nav>
        </div>
        <div class="row mt-2">
            <form action="{% url 'accountants:create_accountant' company.pk %}" method='post'>
                {% csrf_token %}
                <div class="row mb-2">
                    <div class="col-2 offset-3 text-end my-auto">{{ form.name.label_tag }}</div>
                    <div class="col-3">{{ form.name }}</div>
                </div>
                {% if form.name.errors %}
                    <div class="row">
                        <div class="col-auto offset-5 text-danger">
                            {{ form.name.errors }}
                        </div>
                    </div>
                {% endif %}
                <div class="row mb-2">
                    <div class="col-2 offset-3 text-end my-auto">{{ form.email.label_tag }}</div>
                    <div class="col-3">{{ form.email }}</div>
                </div>
                {% if form.email.errors %}
                    <div class="row">
                        <div class="col-auto offset-5 text-danger">
                            {{ form.email.errors }}
                        </div>
                    </div>
                {% endif %}
                <div class="row mb-2">
                    <div class="col-2 offset-3 text-end my-auto">{{ form.phone_number.label_tag }}</div>
                    <div class="col-2">{{ form.phone_number }}</div>
                </div>
                {% if form.phone_number.errors %}
                    <div class="row">
                        <div class="col-auto offset-5 text-danger">
                            {{ form.phone_number.errors }}
                        </div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col text-center">
                        <a class="btn btn-secondary mt-3" href="{% url 'accountants:list_accountants' company.pk %}">Powrót</a>
                        <button class="btn btn-primary mt-3" name="submit">Zapisz</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}