{% extends "base.html" %}{% load static %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'invoices:index' %}">Strona główna</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ user.email }}</li>
                </ol>
            </nav>
        </div>
        <div class="row mt-2">
            <table class="table table-hover text-center">
                <thead class="table-light">
                    <tr>
                        <th>Nazwa</th>
                        <th>Email</th>
                        <th>Opcje</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr>
                        <td>{{ accountants.name|default_if_none:"-" }}</td>
                        <td>{{ accountants.email|default_if_none:"-" }}</td>
                        <td>
                            <a href="{% url 'accountants:replace_accountant' %}">Edytuj</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}