{% extends "base.html" %}{% load static %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'invoices:index' %}">Strona główna</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'companies:list_my_companies' %}">Moje firmy</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Księgowość</li>
                </ol>
            </nav>
        </div>
        <div class="row mt-2">
            {% if accountants %}
                <table class="table table-hover text-center mt-4">
                    <thead class="table-light">
                        <tr>
                            <th>Lp.</th>
                            <th>Nazwa</th>
                            <th>Email</th>
                            <th>Numer telefonu</th>
                            <th>Opcje</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for accountant in accountants %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ accountant.name|default_if_none:"-" }}</td>
                                <td>{{ accountant.email}}</td>
                                <td>{{ accountant.phone_number|default_if_none:"-" }}</td>
                                <td>
                                    <a href="{% url 'accountants:replace_accountant' accountant.pk %}">Edytuj</a>
                                    <a href="{% url 'accountants:delete_accountant' accountant.pk %}">Usuń</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="row">
                    <div class="col">
                        <b>Brak księgowości</b>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col">
                <a class="btn btn-primary mt-3" href="{% url 'accountants:create_accountant' %}">Dodaj księgowość</a>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <a class="btn btn-primary mt-3" href="{% url 'companies:list_my_companies' %}">Powrót</a>
            </div>
        </div>
    </div>
{% endblock content %}