{% extends "base.html" %}{% load static %}

{% block content %}
    <div class="container mt-2">
        <div class="row">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'index' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"></path>
                            </svg>
                        </a>
                    </li>
                    <li class="breadcrumb-item"><a href="{% url 'companies:list_my_companies' %}">Moje firmy</a></li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'companies:detail_company' company.pk %}">{{ company.name }}</a>
                    </li>
                    <li class="breadcrumb-item"><a href="{% url 'companies:settings_company' company.pk %}">Ustawienia</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Księgowość</li>
                </ol>
            </nav>
        </div>
        <div class="row mt-2">
            {% if accountants %}
                <div class="table-responsive">
                    <table class="table table-hover text-center">
                        <thead class="table-light">
                            <tr>
                                <th>Lp.</th>
                                <th>Nazwa</th>
                                <th>Email</th>
                                <th>Numer telefonu</th>
                                <th>Opcje</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            {% for accountant in accountants %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ accountant.name|default_if_none:"-" }}</td>
                                    <td>{{ accountant.email}}</td>
                                    <td>{{ accountant.phone_number|default_if_none:"-" }}</td>
                                    <td>
                                        <a href="{% url 'accountants:replace_accountant' accountant.pk %}">Edytuj</a>
                                        <a href="{% url 'accountants:delete_accountant' accountant.pk %}">Usuń</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="row">
                    <div class="col-12 d-flex justify-content-left">
                        <b>Brak księgowości</b>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="row mt-2">
            <div class="col-12 d-flex justify-content-left">
                <a class="btn btn-primary" href="{% url 'accountants:create_accountant' company.pk %}">Dodaj</a>
            </div>
        </div>
        <div class="row mt-3 justify-content-center">
            <div class="col-md-6 d-flex justify-content-center flex-md-row flex-column">
                <a class="btn btn-secondary" href="{% url 'companies:settings_company' company.pk %}">Powrót</a>
            </div>
        </div>
    </div>
{% endblock content %}