{% extends "base.html" %}{% load static %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'invoices:index' %}">Strona główna</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'invoices:list_invoices' %}">Faktury</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'invoices:detail_invoice' invoice.pk %}">{{ invoice.invoice_number }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Dodaj</li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <form action="{% url 'items:create_item' invoice.pk %}" method='post'>
                {% csrf_token %}
                {{ form.next }}
                <div class="row mb-3">
                    <div class="col-2 offset-md-2 text-end">
                        {{ form.name.label_tag }}
                    </div>
                    <div class="col-4">
                        {{ form.name }}
                        {{ form.name.errors }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-2 offset-md-2 text-end">
                        {{ form.pkwiu.label_tag }}
                    </div>
                    <div class="col-2">
                        {{ form.pkwiu }}
                        {{ form.pkwiu.errors }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-2 offset-md-2 text-end">
                        {{ form.amount.label_tag }}
                    </div>
                    <div class="col-2">
                        {{ form.amount }}
                        {{ form.amount.errors }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-2 offset-md-2 text-end">
                        {{ form.net_price.label_tag }}
                    </div>
                    <div class="col-2">
                        {{ form.net_price }}
                        {{ form.net_price.errors }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-2 offset-md-2 text-end">
                        {{ form.vat.label_tag }}
                    </div>
                    <div class="col-2">
                        {{ form.vat }}
                        {{ form.vat.errors }}
                    </div>
                    <div class="col-2">
                        <a class="btn btn-primary" href="{% url 'vat_rates:create_vat' %}?next={% url 'items:create_item' invoice.pk %}">Dodaj</a>
                    </div>
                </div>
                {% if request.GET.next %}
                    <a class="btn btn-primary mt-3" href="{{ request.GET.next }}">Powrót</a>
                {% endif %}
                <a class="btn btn-primary mt-3" href="{% url 'invoices:detail_invoice' invoice.pk %}">Powrót</a>
                <button class="btn btn-primary mt-3" name="submit">Dodaj</button>
            </form>
        </div>
    </div>
{% endblock content %}