{% extends "base.html" %}{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'items.css' %}">
{% endblock extra_css %}

{% block content %}

    <div class="top_actions">
        <a href="{% url 'invoices:detail_invoice' invoice.pk %}">Powrót</a>
    </div>

    <h1>Nowa przedmiot</h1>

    <form action="{% url 'items:create_item' invoice.pk %}" method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <button name="submit">Dodaj</button>
    </form>

{% endblock content %}