{% load static %}
<div class="modal-header">
    <h5 class="modal-title">Dodaj pozycję</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<form action="{% url 'items:create_item_ajax' invoice.pk %}" method='post'>
    <div class="modal-body">
        {% csrf_token %}
        {{ form.next }}
        <div class="row mb-2">
            <div class="col-2 offset-3 text-end">{{ form.name.label_tag }}</div>
            <div class="col-5">{{ form.name }}</div>
        </div>
        {% if form.name.errors %}
            <div class="row">
                <div class="col-auto offset-5 text-danger">{{ form.name.errors }}</div>
            </div>
        {% endif %}
        <div class="row mb-2">
            <div class="col-2 offset-3 text-end">{{ form.pkwiu.label_tag }}</div>
            <div class="col-2">{{ form.pkwiu }}</div>
        </div>
        {% if form.pkwiu.errors %}
            <div class="row">
                <div class="col-auto offset-5 text-danger">{{ form.pkwiu.errors }}</div>
            </div>
        {% endif %}
        <div class="row mb-2">
            <div class="col-2 offset-3 text-end">{{ form.amount.label_tag }}</div>
            <div class="col-1">{{ form.amount }}</div>
        </div>
        {% if form.amount.errors %}
            <div class="row">
                <div class="col-auto offset-5 text-danger">{{ form.amount.errors }}</div>
            </div>
        {% endif %}
        <div class="row mb-2">
            <div class="col-2 offset-3 text-end">{{ form.net_price.label_tag }}</div>
            <div class="col-2">{{ form.net_price }}</div>
        </div>
        {% if form.net_price.errors %}
            <div class="row">
                <div class="col-auto offset-5 text-danger">{{ form.net_price.errors }}</div>
            </div>
        {% endif %}
        <div class="row mb-2">
            <div class="col-2 offset-3 text-end">{{ form.vat.label_tag }}</div>
            <div class="col-1">{{ form.vat }}</div>
            <div class="col-2">
                <a id="cancelVatButton" class="btn btn-secondary d-none">Anuluj</a>
                <a id="saveVatButton" class="btn btn-primary d-none" href="{% url 'vat_rates:create_vat_ajax' %}">Zapisz</a>
            </div>
        </div>
        {% if form.vat.errors %}
            <div class="row">
                <div class="col-auto offset-5 text-danger">{{ form.vat.errors }}</div>
            </div>
        {% endif %}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
        <button id="createVatSaveButton" type="button" class="btn btn-primary">Zapisz</button>
    </div>
</form>
