{% extends "base.html" %}{% load static %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'create_vat_rate.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'invoices:index' %}">Strona główna</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'invoices:list_invoices' %}">Faktury</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'invoices:detail_invoice' invoice.pk %}">{{ invoice.invoice_number }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Dodaj</li>
                </ol>
            </nav>
        </div>
        <div class="row mt-2">
            <form action="{% url 'items:create_item' invoice.pk %}" method='post'>
                {% csrf_token %}
                {{ form.next }}
                <div class="row mb-2">
                    <div class="col-2 offset-3 text-end">{{ form.name.label_tag }}</div>
                    <div class="col-5">{{ form.name }}</div>
                </div>
                {% if form.name.errors %}
                    <div class="row">
                        <div class="col-auto offset-5 text-danger">{{ form.name.errors }}</div>
                    </div>
                {% endif %}
                <div class="row mb-2">
                    <div class="col-2 offset-3 text-end">{{ form.pkwiu.label_tag }}</div>
                    <div class="col-2">{{ form.pkwiu }}</div>
                </div>
                {% if form.pkwiu.errors %}
                    <div class="row">
                        <div class="col-auto offset-5 text-danger">{{ form.pkwiu.errors }}</div>
                    </div>
                {% endif %}
                <div class="row mb-2">
                    <div class="col-2 offset-3 text-end">{{ form.amount.label_tag }}</div>
                    <div class="col-1">{{ form.amount }}</div>
                </div>
                {% if form.amount.errors %}
                    <div class="row">
                        <div class="col-auto offset-5 text-danger">{{ form.amount.errors }}</div>
                    </div>
                {% endif %}
                <div class="row mb-2">
                    <div class="col-2 offset-3 text-end">{{ form.net_price.label_tag }}</div>
                    <div class="col-2">{{ form.net_price }}</div>
                </div>
                {% if form.net_price.errors %}
                    <div class="row">
                        <div class="col-auto offset-5 text-danger">{{ form.net_price.errors }}</div>
                    </div>
                {% endif %}
                <div class="row mb-2">
                    <div class="col-2 offset-3 text-end">{{ form.vat.label_tag }}</div>
                    <div class="col-1">{{ form.vat }}</div>
                    <div class="col-2">
                        <a id="createVatButton" class="btn btn-primary" href="{% url 'vat_rates:create_vat_ajax' %}">Dodaj</a>
                    </div>
                </div>
                {% if form.vat.errors %}
                    <div class="row">
                        <div class="col-auto offset-5 text-danger">{{ form.vat.errors }}</div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col text-center">
                        {% if request.GET.next %}
                            <a class="btn btn-primary mt-3" href="{{ request.GET.next }}">Powrót</a>
                        {% endif %}
                        <a class="btn btn-primary mt-3" href="{% url 'invoices:detail_invoice' invoice.pk %}">Powrót</a>
                        <button class="btn btn-primary mt-3" name="submit">Dodaj</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <div class="modal fade" id="vatModal" tabindex="-1">
      <div class="modal-dialog modal-sm">
        <div class="modal-content" id="vatModalContent">
        </div>
      </div>
    </div>
{% endblock content %}