{% extends "base.html" %}{% load static %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'items.css' %}">

    <h1>Szczegóły pozycji</h1>

    <ul style="list-style-type:none;">
        <li><b>Numer faktury:</b> {{ item.invoice }}</li>
        <li><b>Nazwa:</b> {{ item.name }}</li>
        <li><b>PKWiU:</b> {{ item.pkwiu }}</li>
        <li><b>Ilość:</b> {{ item.amount }}</li>
        <li><b>Cena netto:</b> {{ item.net_price }}</li>
        <li><b>Wartość netto:</b> {{ item.net_amount }}</li>
        <li><b>Stawka vat:</b> {{ item.vat }}</li>
        <li><b>Wartość vat:</b> {{ item.tax_amount }}</li>
        <li><b>Wartość brutto:</b> {{ item.gross_amount }}</li>
    </ul>

    <a href="{% url 'items:list_items' %}">Powrót</a>
    <a href="{% url 'items:replace_item' item.pk %}">Edytuj</a>
    <a href="{% url 'items:delete_item' item.pk %}">Usuń</a>

{% endblock content %}