{% extends "base.html" %}{% load static %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'items.css' %}">

    <div class="top_actions">
        {% if request.GET.next %}
            <a href="{{ request.GET.next }}">Powrót</a>
        {% endif %}
    </div>

    <h1>Edytuj pozycję</h1>

    <form action="{% url 'items:replace_item' item.pk %}" method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <button name="submit">Zapisz</button>
    </form>

{% endblock content %}