{% extends "base.html" %}{% load static %}

{% block extra_js %}
    <script>
        const createOptionElement = (value, label, color = false) => {
            const optionElement = document.createElement("option");
            optionElement.setAttribute("value", value);
            if (color) {
                optionElement.style.color = "red";
            }
            
            const createTextElement = document.createTextNode(label);
            optionElement.appendChild(createTextElement);
            
            return optionElement;
        }
    
        document.addEventListener("DOMContentLoaded", () => {
            const selectElement = document.getElementById("id_vat");
            
            const optionElement = createOptionElement("new_vat", "Dodaj nowy vat", true);
            selectElement.appendChild(optionElement);
    
            const cancelElement = document.getElementById("cancelVatButton");
            const saveElement = document.getElementById("saveVatButton");
            const newVatInput = document.createElement("input");
            newVatInput.classList.add("form-control");
    
            selectElement.addEventListener("change", () => {
                if (selectElement.value === "new_vat") {
                    cancelElement.classList.remove("d-none");
                    saveElement.classList.remove("d-none");
                    selectElement.classList.add("d-none");
                    selectElement.parentElement.appendChild(newVatInput);
                    newVatInput.classList.remove("d-none");
                }
            });
            
            const hideEditMode = () => {
                cancelElement.classList.add("d-none");
                saveElement.classList.add("d-none");
                newVatInput.classList.add("d-none")
                selectElement.classList.remove("d-none");
            };
            
            const initialValue = document.getElementById("id_vat").value;
            cancelElement.addEventListener("click", (e) => {
                e.preventDefault();
                hideEditMode();
                selectElement.value = initialValue;
                newVatInput.value = "";
            });
    
            saveElement.addEventListener("click", async (e) => {
                e.preventDefault();
                hideEditMode();
    
                const url = saveElement.getAttribute("href");
                const csrfElement = document.getElementsByName("csrfmiddlewaretoken")[0];
    
                const data = new FormData();
                data.set("rate", newVatInput.value)
                data.set("csrfmiddlewaretoken", csrfElement.value)
    
                const response = await fetch(url, {
                    method: "POST",
                    body: data
                });
                const json = await response.json();
                
                const newVatOption = createOptionElement(json.id, json.name);
                selectElement.appendChild(newVatOption);
                
    
                selectElement.value = json.id.toString();
                newVatInput.value = "";
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'invoices:index' %}">Strona główna</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'invoices:list_invoices' %}">Faktury</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'invoices:detail_invoice' item.invoice.pk %}">{{ item.invoice.invoice_number }}</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'invoices:detail_invoice' item.invoice.pk %}">Pozycja</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Edytuj</li>
                </ol>
            </nav>
        </div>
        <div class="row mt-2">
            <form action="{% url 'items:replace_item' item.pk %}" method='post'>
                {% csrf_token %}
                {{ form.next }}
                <div class="row mb-2">
                    <div class="col-2 offset-3 text-end">{{ form.name.label_tag }}</div>
                    <div class="col-5">{{ form.name }}</div>
                </div>
                {% if form.name.errors %}
                    <div class="row">
                        <div class="col-auto offset-5 text-danger">{{ form.name.errors }}</div>
                    </div>
                {% endif %}
                <div class="row mb-2">
                    <div class="col-2 offset-3 text-end">{{ form.pkwiu.label_tag }}</div>
                    <div class="col-2">{{ form.pkwiu }}</div>
                </div>
                {% if form.pkwiu.errors %}
                    <div class="row">
                        <div class="col-auto offset-5 text-danger">{{ form.pkwiu.errors }}</div>
                    </div>
                {% endif %}
                <div class="row mb-2">
                    <div class="col-2 offset-3 text-end">{{ form.amount.label_tag }}</div>
                    <div class="col-1">{{ form.amount }}</div>
                </div>
                {% if form.amount.errors %}
                    <div class="row">
                        <div class="col-auto offset-5 text-danger">{{ form.amount.errors }}</div>
                    </div>
                {% endif %}
                <div class="row mb-2">
                    <div class="col-2 offset-3 text-end">{{ form.net_price.label_tag }}</div>
                    <div class="col-2">{{ form.net_price }}</div>
                </div>
                {% if form.net_price.errors %}
                    <div class="row">
                        <div class="col-auto offset-5 text-danger">{{ form.net_price.errors }}</div>
                    </div>
                {% endif %}
                <div class="row mb-2">
                    <div class="col-2 offset-3 text-end">{{ form.vat.label_tag }}</div>
                    <div class="col-1">{{ form.vat }}</div>
                    <div class="col-2">
                        <a id="cancelVatButton" class="btn btn-secondary d-none">Anuluj</a>
                        <a id="saveVatButton" class="btn btn-primary d-none" href="{% url 'vat_rates:create_vat_ajax' %}">Zapisz</a>
                    </div>
                </div>
                {% if form.vat.errors %}
                    <div class="row">
                        <div class="col-auto offset-5 text-danger">{{ form.vat.errors }}</div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col text-center">
                        {% if request.GET.next %}
                            <a class="btn btn-primary mt-3" href="{{ request.GET.next }}">Powrót</a>
                        {% endif %}
                        <button class="btn btn-primary mt-3" name="submit">Zapisz</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}