{% load static %}
<div class="modal-header">
    <h5 class="modal-title">Dodaj walutę</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<form action="{% url 'currencies:create_currency' %}" method='post'>
    <div class="modal-body">
        {% csrf_token %}
        <div class="row mb-2">
            <div class="col-12 col-md-6 d-flex justify-content-md-end align-items-center" style="font-weight: bold;">{{ form.code.label_tag }}</div>
            <div class="col-12 col-md-3 d-flex align-items-center">{{ form.code }}</div>
        </div>
        {% if form.code.errors %}
            <div class="row">
                <div class="col-12 offset-md-6 text-danger">
                    {{ form.code.errors }}
                </div>
            </div>
        {% endif %}
    </div>
    <div class="modal-footer justify-content-left">
        <div class="col-12 col-md-auto d-flex flex-column flex-md-row gap-2">
            <button id="createCurrencySaveButton" type="button" class="btn btn-primary">Zapisz</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
        </div>
    </div>    
</form>
 

