{% extends "base.html" %}{% load static %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'currencies.css' %}">

    <h1>Szczegóły waluty</h1>

    <ul style="list-style-type:none">
        <li><b>Waluta:</b> {{ currency }}</li>
    </ul>

    <a href="{% url 'currencies:list_currencies' %}">Powrót</a>
    <a href="{% url 'currencies:replace_currency' currency.pk %}">Edytuj</a>
    <a href="{% url 'currencies:delete_currency' currency.pk %}">Usuń</a>

{% endblock content %}