{% extends "base.html" %}{% load static %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'currencies.css' %}">

    <h3><a href="{% url 'currencies:create_currency' %}">Dodaj walutę</a></h3>

    {% if currencies %}

        <h1>Lista walut</h1>

        <table class="items">
            <tr>
                <th style="width:5%">Lp.</th>
                <th>Waluta</th>
                <th>Opcje</th>
            </tr>
            {% for currency in currencies %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ currency }}</td>
                    <td>
                        <a href="{% url 'currencies:replace_currency' currency.pk %}">Edytuj</a>
                        <a href="{% url 'currencies:delete_currency' currency.pk %}">Usuń</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h3>Brak walut</h3>
    {% endif %}

{% endblock content %}