{% extends "base.html" %}

{% block content %}

    <p><a href="{% url 'currencies:create_currency' %}">Dodaj walutę</a></p>

    <p>Lista walut</p>

    {% if currencies %}
        <table>
            <tr>
                <th>Lp</th>
                <th>Waluta</th>
                <th>Opcje</th>
            </tr>
            {% for currency in currencies %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ country }}</td>
                    <td>
                        <a href="{% url 'currencies:detail_currency' currency.pk %}">Więcej</a>
                        <a href="{% url 'currencies:replace_currency' currency.pk %}">Edytuj</a>
                        <a href="{% url 'currencies:delete_currency' currency.pk %}">Usuń</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Brak walut</p>
    {% endif %}

{% endblock content %}