{% extends "base.html" %}{% load static %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'invoices:index' %}">Strona główna</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Waluty</li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <div class="col">
                <a class="btn btn-primary mt-3" href="{% url 'currencies:create_currency' %}">Dodaj walutę</a>
            </div>
        </div>
    <div class="row">
            {% if currencies %}
                <table class="table table-hover text-center mt-3">
                    <thead class="table-light">
                        <tr>
                            <th>Lp.</th>
                            <th>Waluta</th>
                            <th>Kurs kupna (z dnia {% now "Y-m-d" %})</th>
                            <th>Kurs sprzedaży (z dnia {% now "Y-m-d" %})</th>
                            <th>Opcje</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for currency in currencies %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ currency }}</td>
                                <td>
                                    {% if currency.last_exchange_rate %}
                                        {{ currency.last_exchange_rate.buy_rate }}
                                    {% else %}
                                        Brak danych
                                    {% endif %}
                                </td>
                                <td>
                                    {% if currency.last_exchange_rate %}
                                        {{ currency.last_exchange_rate.sell_rate }}
                                    {% else %}
                                        Brak danych
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{% url 'currencies:replace_currency' currency.pk %}">Edytuj</a>
                                    <a href="{% url 'currencies:delete_currency' currency.pk %}">Usuń</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="row mt-3">
                    <div class="col">
                        <b>Brak walut</b>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    {% include "pagination.html" with page=currencies %}
{% endblock content %}