{% extends "base.html" %}{% load static %}

{% block content %}
        <div class="container mt-4">
        <div class="row">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'invoices:index' %}">Strona główna</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'currencies:list_currencies' %}">Waluty</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Edytuj</li>
                </ol>
            </nav>
        </div>
        <div class="row mt-3">
            <form action="{% url 'currencies:replace_currency' currency.pk %}" method='post'>
                {% csrf_token %}
                {{ form.next }}
                <div class="row mb-3">
                    <div class="col-1">
                        {{ form.code.label_tag }}
                    </div>
                    <div class="col-1">
                        {{ form.code }}
                        {{ form.code.errors }}
                    </div>
                </div>
                {% if request.GET.next %}
                    <a class="btn btn-primary mt-3" href="{{ request.GET.next }}">Powrót</a>
                {% else %}
                    <a class="btn btn-primary mt-3" href="{% url 'currencies:list_currencies' %}">Powrót</a>
                {% endif %}
                <button class="btn btn-primary mt-3" name="submit">Zapisz</button>
            </form>
        </div>
    </div>
{% endblock content %}