{% extends "base.html" %}{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'currencies.css' %}">
{% endblock extra_css %}

{% block content %}

    <div class="top_actions">
        <a href="{% url 'currencies:list_currencies' %}">Powrót</a>
    </div>

    <h1>Edytuj walutę</h1>

    <form action="{% url 'currencies:replace_currency' currency.pk %}" method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <button name="submit">Zapisz</button>
    </form>

{% endblock content %}