{% extends "base.html" %}{% load static %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'vat_rates.css' %}">

    <div class="top_actions">
        {% if request.GET.next %}
            <a href="{{ request.GET.next }}">Powrót</a>
        {% else %}
            <a href="{% url 'vat_rates:list_vates' %}">Powrót</a>
        {% endif %}
    </div>

    <h1>Nowa stawka vat</h1>

    <form action="{% url 'vat_rates:create_vat' %}" method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <button name="submit">Dodaj</button>
    </form>

{% endblock content %}