{% load static %}
<div class="modal-header">
    <h5 class="modal-title">Dodaj stawkę vat</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<form action="{% url 'vat_rates:create_vat_ajax' %}" method='post'>
    <div class="modal-body">
        {% csrf_token %}
        {{ form.next }}
        <div class="row mb-2">
            <div class="col text-end flex align-self-center">{{ form.rate.label_tag }}</div>
            <div class="col-4">{{ form.rate }}</div>
            <div class="col">%</div>
        </div>
        {% if form.rate.errors %}
            <div class="row">
                <div class="col-auto offset-6 text-danger">
                    {{ form.rate.errors }}
                </div>
            </div>
        {% endif %}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
        <button id="createVatSaveButton" type="button" class="btn btn-primary">Zapisz</button>
    </div>
</form>

