{% extends "base.html" %}{% load static %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'vat_rates.css' %}">

    <h1>Szczegóły stawki vat</h1>

    <ul style="list-style-type:none">
        <li><b>Stawka vat:</b> {{ vat_rate }} %</li>
    </ul>

    <a href="{% url 'vat_rates:list_vates' %}">Powrót</a>
    <a href="{% url 'vat_rates:replace_vat' vat_rate.pk %}">Edytuj</a>
    <a href="{% url 'vat_rates:delete_vat' vat_rate.pk %}">Usuń</a>

{% endblock content %}