{% extends "base.html" %}{% load static %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'vat_rates.css' %}">

    <h3><a href="{% url 'vat_rates:create_vat' %}">Dodaj stawkę vat</a></h3>

    {% if vat_rates %}

        <h1>Lista stawek vat</h1>

        <table class="items">
            <tr>
                <th style="width:5%">Lp.</th>
                <th>Stawka vat</th>
                <th>Opcje</th>
            </tr>
            {% for vat in vat_rates %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ vat }} %</td>
                    <td>
                        <a href="{% url 'vat_rates:replace_vat' vat.pk %}">Edytuj</a>
                        <a href="{% url 'vat_rates:delete_vat' vat.pk %}">Usuń</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h3>Brak stawek vat</h3>
    {% endif %}

{% endblock content %}