{% extends "base.html" %}{% load static %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'vat_rates.css' %}">

    <p><a href="{% url 'vat_rates:create_vat' %}">Dodaj stawkę vat</a></p>

    <p>Lista stawek vat</p>

    {% if vat_rates %}
        <table>
            <tr>
                <th>Lp</th>
                <th>Stawka vat</th>
                <th>Opcje</th>
            </tr>
            {% for vat in vat_rates %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ vat }} %</td>
                    <td>
                        <a href="{% url 'vat_rates:detail_vat' vat.pk %}">Więcej</a>
                        <a href="{% url 'vat_rates:replace_vat' vat.pk %}">Edytuj</a>
                        <a href="{% url 'vat_rates:delete_vat' vat.pk %}">Usuń</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Brak stawek vat</p>
    {% endif %}

{% endblock content %}