{% extends "base.html" %}{% load static %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'invoices:index' %}">Strona główna</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Stawki VAT</li>
                </ol>
            </nav>
        </div>
        <div class="row mt-2">
            {% if vat_rates %}
                <table class="table table-hover text-center mt-4">
                    <thead class="table-light">
                        <tr>
                            <th>Lp.</th>
                            <th>Stawka VAT</th>
                            <th>Opcje</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for vat in vat_rates %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ vat }} %</td>
                                <td>
                                    <a href="{% url 'vat_rates:replace_vat' vat.pk %}">Edytuj</a>
                                    <a href="{% url 'vat_rates:delete_vat' vat.pk %}">Usuń</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="row">
                    <div class="col">
                        <b>Brak stawek vat</b>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col">
                <a class="btn btn-primary mt-3" href="{% url 'vat_rates:create_vat' %}">Dodaj</a>
            </div>
        </div>
    </div>
    {% include "pagination.html" with page=vat_rates %}
{% endblock content %}